.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2143px;
	margin-left: auto;
	margin-right: auto;
}

#pu36855
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -100px;
}

#u36855
{
	z-index: 2;
	width: 1160px;
	padding-bottom: 71px;
	margin-right: -10000px;
	margin-top: 104px;
}

#u36868-4
{
	z-index: 3;
	width: 667px;
	min-height: 55px;
	margin-right: -10000px;
	margin-top: 71px;
	left: 131px;
}

#u36874
{
	z-index: 7;
	width: 1160px;
	padding-bottom: 61px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u36856
{
	z-index: 8;
	width: 1361px;
	padding-bottom: 7px;
	margin-right: -10000px;
	left: -102px;
}

#capacitacionempresarial
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 102px;
}

#pu36872
{
	z-index: 9;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 972px;
}

#pu36860
{
	width: 0.01px;
	position: relative;
	left: 2px;
	padding-top: 3px;
	z-index: 2;
	padding-bottom: 1px;
}

#u36860
{
	z-index: 10;
	width: 26px;
	margin-right: -10000px;
}

#pu36857
{
	z-index: 12;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 1002px;
}

#pu36870
{
	width: 0.01px;
	position: relative;
	left: 1px;
	padding-top: 3px;
	z-index: 2;
	padding-bottom: 1px;
}

#u36870
{
	z-index: 13;
	width: 26px;
	margin-right: -10000px;
}

#u36870_img
{
	padding-right: 2px;
}

#pu36701
{
	z-index: 15;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 1033px;
}

#u36872,#u36857,#u36701
{
	z-index: 0;
	width: 28px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u36872.f3s_top,._u36857.f3s_top,._u36701.f3s_top
{
	height: 28px;
	width: 28px;
}

#pu36694
{
	width: 0.01px;
	position: relative;
	left: 2px;
	z-index: 2;
	padding-bottom: 2px;
}

#u36694
{
	z-index: 16;
	width: 26px;
	margin-right: -10000px;
}

#menuu36703
{
	z-index: 46;
	width: 626px;
	margin-right: -10000px;
	margin-top: 43px;
	left: 377px;
}

#u36704
{
	width: 57px;
	min-height: 61px;
	margin-right: -10000px;
}

#u36707
{
	width: 57px;
	padding-bottom: 44px;
}

#u36707:hover
{
	margin: 0px;
}

#u36707:active
{
	margin: 0px;
}

#u36710-4
{
	width: 44px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36707:hover #u36710-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u36707:active #u36710-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u36844
{
	width: 92px;
	min-height: 61px;
	margin-right: -10000px;
	left: 59px;
}

#u36845
{
	width: 92px;
	padding-bottom: 44px;
}

#u36707.MuseMenuActive,#u36845:hover
{
	margin: 0px;
}

#u36845:active
{
	margin: 0px;
}

#u36847-4
{
	width: 79px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36707.MuseMenuActive #u36710-4,#u36845:hover #u36847-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u36845:active #u36847-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u36725
{
	width: 161px;
	min-height: 61px;
	margin-right: -10000px;
	left: 153px;
}

#u36726
{
	width: 161px;
	padding-bottom: 44px;
}

#u36845.MuseMenuActive,#u36726:hover
{
	margin: 0px;
}

#u36726:active
{
	margin: 0px;
}

#u36727-4
{
	width: 135px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36845.MuseMenuActive #u36847-4,#u36726:hover #u36727-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u36726:active #u36727-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u36729
{
	z-index: 65;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 23px;
	left: 141px;
}

#u36726:hover #u36729
{
	margin: 0px -10000px 0px 0px;
}

#u36726:active #u36729
{
	margin: 0px -10000px 0px 0px;
}

#u36730
{
	width: 150px;
	top: 61px;
}

#u36735
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36735:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36737-4
{
	width: 60px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 40px;
}

#u36735:hover #u36737-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36735:active #u36737-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36747
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36735.MuseMenuActive,#u36747:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36749-4
{
	width: 96px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 22px;
}

#u36735.MuseMenuActive #u36737-4,#u36747:hover #u36749-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36747:active #u36749-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36742
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36747.MuseMenuActive,#u36742:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36743-4
{
	width: 86px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 27px;
}

#u36747.MuseMenuActive #u36749-4,#u36742:hover #u36743-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36742:active #u36743-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36768
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36742.MuseMenuActive,#u36768:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36771-4
{
	width: 68px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 36px;
}

#u36742.MuseMenuActive #u36743-4,#u36768:hover #u36771-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36768:active #u36771-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36756
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36768.MuseMenuActive,#u36756:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36759-4
{
	width: 95px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 22px;
}

#u36768.MuseMenuActive #u36771-4,#u36756:hover #u36759-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36756:active #u36759-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36763
{
	width: 150px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u36763:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36763.MuseMenuActive
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36766-4
{
	width: 120px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 11px;
}

#u36756.MuseMenuActive #u36759-4,#u36763:hover #u36766-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36763:active #u36766-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36731,#u36732,#u36746,#u36739,#u36767,#u36753,#u36760,#u36774
{
	width: 150px;
}

#u36775
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36756.MuseMenuActive,#u36775:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36775.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36777-4
{
	width: 67px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 36px;
}

#u36763.MuseMenuActive #u36766-4,#u36775:hover #u36777-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36775:active #u36777-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36788
{
	width: 187px;
	min-height: 61px;
	margin-right: -10000px;
	left: 316px;
}

#u36840
{
	width: 187px;
	padding-bottom: 44px;
}

#u36726.MuseMenuActive,#u36840:hover
{
	margin: 0px;
}

#u36840:active
{
	margin: 0px;
}

#u36842-4
{
	width: 161px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36726.MuseMenuActive #u36727-4,#u36840:hover #u36842-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u36840:active #u36842-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u36843
{
	z-index: 116;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 23px;
	left: 167px;
}

#u36726.MuseMenuActive #u36729,#u36840:hover #u36843
{
	margin: 0px -10000px 0px 0px;
}

#u36840:active #u36843
{
	margin: 0px -10000px 0px 0px;
}

#u36840.MuseMenuActive #u36843
{
	margin: 0px -10000px 0px 0px;
}

#u36789
{
	width: 177px;
	top: 61px;
}

#u36806
{
	width: 175px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u36806:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36809-4
{
	width: 58px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 54px;
}

#u36775.MuseMenuActive #u36777-4,#u36806:hover #u36809-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36806:active #u36809-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36836
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36806.MuseMenuActive,#u36836:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36838-4
{
	width: 94px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 36px;
}

#u36806.MuseMenuActive #u36809-4,#u36836:hover #u36838-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36836:active #u36838-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36822
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36836.MuseMenuActive,#u36822:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36824-4
{
	width: 84px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 41px;
}

#u36836.MuseMenuActive #u36838-4,#u36822:hover #u36824-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36822:active #u36824-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36827
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36822.MuseMenuActive,#u36827:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36829-4
{
	width: 66px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 50px;
}

#u36822.MuseMenuActive #u36824-4,#u36827:hover #u36829-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36827:active #u36829-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36815
{
	width: 177px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u36815:hover
{
	width: 177px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36815.MuseMenuActive
{
	width: 177px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36817-4
{
	width: 118px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u36827.MuseMenuActive #u36829-4,#u36815:hover #u36817-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36815:active #u36817-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36801
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36827.MuseMenuActive,#u36801:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36804-4
{
	width: 78px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 44px;
}

#u36815.MuseMenuActive #u36817-4,#u36801:hover #u36804-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36801:active #u36804-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36790,#u36805,#u36833,#u36819,#u36826,#u36812,#u36798,#u36791
{
	width: 177px;
}

#u36792
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36801.MuseMenuActive,#u36792:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36792.MuseMenuActive
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36793-4
{
	width: 65px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 51px;
}

#u36801.MuseMenuActive #u36804-4,#u36792:hover #u36793-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36792:active #u36793-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36792.MuseMenuActive #u36793-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u36781
{
	width: 121px;
	min-height: 61px;
	margin-right: -10000px;
	left: 505px;
}

#u36784
{
	width: 121px;
	padding-bottom: 44px;
}

#u36840.MuseMenuActive,#u36784:hover
{
	margin: 0px;
}

#u36784:active
{
	margin: 0px;
}

#u36784.MuseMenuActive
{
	margin: 0px;
}

#u36785-4
{
	width: 109px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36840.MuseMenuActive #u36842-4,#u36784:hover #u36785-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u36784:active #u36785-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u36784.MuseMenuActive #u36785-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u38612
{
	z-index: 173;
	width: 225px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 130px;
}

#u38613
{
	z-index: 174;
	width: 225px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u38614
{
	z-index: 175;
	width: 210px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 8px;
}

#u40966-20
{
	z-index: 177;
	width: 916px;
	min-height: 241px;
	position: relative;
	margin-right: -10000px;
	margin-top: 374px;
	left: 122px;
}

#u40966-3
{
	font-size: 20px;
	color: #3E3E3E;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u40967
{
	float: left;
	margin-right: 20px;
}

#u40968
{
	z-index: 182;
	width: 285px;
	height: 219px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background: #FFFFFF url("../images/id-10046950-u1266-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u40966-2
{
	font-family: comfortaa, sans-serif;
	font-weight: 700;
}

#u40966-4
{
	font-size: 16px;
	color: #3E3E3E;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u40966-6
{
	font-size: 14px;
	color: #3E3E3E;
	font-family: asap, sans-serif;
	font-weight: 700;
}

#u40966-7
{
	font-size: 16px;
	color: #3E3E3E;
	font-family: asap, sans-serif;
	font-weight: 700;
}

#u40957-22
{
	z-index: 199;
	width: 916px;
	min-height: 230px;
	position: relative;
	margin-right: -10000px;
	margin-top: 734px;
	left: 122px;
}

#u40959
{
	z-index: 204;
	width: 254px;
	height: 206px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background: #FFFFFF url("../images/id-10066169-u29632-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u40957-12,#u40957-13,#u40957-15,#u40957-17,#u40957-18,#u40957-20
{
	text-align: justify;
	text-indent: 21px;
}

#u40980-22
{
	z-index: 223;
	width: 916px;
	min-height: 230px;
	position: relative;
	margin-right: -10000px;
	margin-top: 993px;
	left: 122px;
}

#u40981
{
	float: right;
	margin-left: 10px;
}

#u40982
{
	z-index: 228;
	width: 243px;
	height: 206px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background: #FFFFFF url("../images/id-10060141-u29636-fr.jpg") no-repeat left center;
	background-size: cover !important;
}

#u40980-14,#u40980-15,#u40980-17,#u40980-18,#u40980-20
{
	text-align: justify;
	padding-left: 21px;
}

#u40976-17
{
	z-index: 247;
	width: 916px;
	min-height: 230px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1261px;
	left: 122px;
}

#u40958,#u40977
{
	float: left;
	margin-right: 10px;
}

#u40978
{
	z-index: 252;
	width: 254px;
	height: 206px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background: #FFFFFF url("../images/id-100109233-u29639-fr.jpg") no-repeat left top;
	background-size: cover !important;
}

#u40966-10,#u40966-11,#u40966-14,#u40966-15,#u40966-18,#u40957-3,#u40957-6,#u40957-7,#u40957-9,#u40957-10,#u40980-3,#u40980-6,#u40980-7,#u40980-9,#u40980-11,#u40980-12,#u40976-3,#u40976-6,#u40976-7,#u40976-9,#u40976-10,#u40976-12,#u40976-13,#u40976-15
{
	text-align: justify;
}

#u40987-4
{
	z-index: 266;
	width: 418px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1572px;
	left: 122px;
}

#u40963-4
{
	z-index: 270;
	width: 916px;
	min-height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 318px;
	left: 122px;
}

#u40964-4
{
	z-index: 274;
	width: 916px;
	min-height: 76px;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 636px;
	left: 122px;
}

#u40956
{
	z-index: 278;
	width: 916px;
	height: 8px;
	border-style: solid;
	border-color: #BABABA;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	position: relative;
	margin-right: -10000px;
	margin-top: 718px;
	left: 122px;
	border-width: 1px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u40989-4
{
	z-index: 279;
	width: 916px;
	min-height: 37px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1509px;
	left: 122px;
}

#u40965
{
	z-index: 283;
	width: 916px;
	height: 8px;
	border-style: solid;
	border-color: #BABABA;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	position: relative;
	margin-right: -10000px;
	margin-top: 1546px;
	left: 122px;
	border-width: 1px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u40979
{
	z-index: 284;
	width: 337px;
	height: 8px;
	border-style: solid;
	border-color: #BABABA;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	position: relative;
	margin-right: -10000px;
	margin-top: 1781px;
	left: 402px;
	border-width: 1px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u40971-9
{
	z-index: 285;
	width: 426px;
	min-height: 111px;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 1624px;
	left: 122px;
}

#u40971-4
{
	font-size: 12px;
	color: #3E3E3E;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: normal;
}

#u40986-9
{
	z-index: 294;
	width: 426px;
	min-height: 119px;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 1748px;
	left: 122px;
}

#u40986-4,#u40986-5
{
	font-weight: normal;
}

#u40988-7
{
	z-index: 303;
	width: 426px;
	min-height: 91px;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 1878px;
	left: 122px;
}

#u40971-2,#u40986-2,#u40988-2
{
	font-size: 12px;
	color: #3E3E3E;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u40966-8,#u40966-12,#u40966-16,#u40971,#u40986,#u40988
{
	font-weight: 700;
}

#u40962-4
{
	z-index: 310;
	width: 575px;
	min-height: 50px;
	text-align: left;
	font-size: 20px;
	color: #006122;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 218px;
	left: 132px;
}

#u40960
{
	z-index: 314;
	width: 916px;
	height: 8px;
	border-style: solid;
	border-color: #BABABA;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	position: relative;
	margin-right: -10000px;
	margin-top: 970px;
	left: 122px;
	border-width: 1px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u40961
{
	z-index: 315;
	width: 916px;
	height: 8px;
	border-style: solid;
	border-color: #BABABA;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	position: relative;
	margin-right: -10000px;
	margin-top: 1237px;
	left: 122px;
	border-width: 1px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u40972
{
	z-index: 317;
	width: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1968px;
	left: 1032px;
}

#u40974-4
{
	z-index: 319;
	position: relative;
	width: 39px;
	margin-right: -10000px;
}

#u40973
{
	z-index: 318;
	width: 24px;
	height: 24px;
	-pie-box-shadow: 0px 0px 20px 5px #FFFFFF/* glow */,
0px 0px 5px #7F7F7F/* drop shadow*/;
	-moz-box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.5)/* glow */,
0px 0px 5px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.5)/* glow */,
0px 0px 5px -1px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.5)/* glow */,
0px 0px 5px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	-moz-border-radius: 51px;
	-webkit-border-radius: 51px;
	-khtml-border-radius: 51px;
	border-radius: 51px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 5px;
}

#u40983
{
	z-index: 323;
	width: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1505px;
	left: 1032px;
}

#u40985-4
{
	z-index: 325;
	position: relative;
	width: 39px;
	margin-right: -10000px;
}

#u40974-4_img,#u40985-4_img
{
	display: block;
	vertical-align: top;
}

#u40984
{
	z-index: 324;
	width: 24px;
	height: 24px;
	-pie-box-shadow: 0px 0px 20px 5px #FFFFFF/* glow */,
0px 0px 5px #7F7F7F/* drop shadow*/;
	-moz-box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.5)/* glow */,
0px 0px 5px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.5)/* glow */,
0px 0px 5px -1px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.5)/* glow */,
0px 0px 5px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	-moz-border-radius: 51px;
	-webkit-border-radius: 51px;
	-khtml-border-radius: 51px;
	border-radius: 51px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 5px;
}

#u40969
{
	z-index: 329;
	width: 430px;
	min-height: 461px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1576px;
	left: 599px;
}

#u41059
{
	z-index: 330;
	width: 1160px;
	border-style: none;
	border-color: transparent;
	background-color: #3F3F3F;
	background-color: rgba(0, 0, 0, 0.75);
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	-pie-background: rgba(0, 0, 0, 0.75);
}

#u41059_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u41080
{
	z-index: 331;
	width: 219px;
	height: 2246px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#pu41256-10
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 446px;
	left: 219px;
}

#u41256-10
{
	z-index: 335;
	width: 210px;
	min-height: 189px;
	text-align: justify;
	margin-left: 444px;
	position: relative;
}

#u41082
{
	z-index: 333;
	width: 722px;
	height: 1484px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	margin-top: 128px;
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u41081
{
	z-index: 332;
	width: 722px;
	height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	position: relative;
	margin-right: -10000px;
	left: 219px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u41083
{
	z-index: 334;
	width: 219px;
	height: 2248px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	position: relative;
	margin-right: -10000px;
	left: 941px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u41900
{
	z-index: 345;
	width: 722px;
	-pie-box-shadow: 2px 8px 8px #7F7F7F;
	-moz-box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 2px 8px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 219px;
	background: #FFFFFF url("../images/popupgray.png") repeat left top;
}

#u41900_position_content
{
	margin-top: -16px;
	margin-bottom: 31px;
}

#u41061
{
	z-index: 387;
	width: 32px;
	margin-left: 704px;
	position: relative;
}

#u41063
{
	z-index: 388;
	width: 32px;
	-pie-box-shadow: 2px 2px 6px #7F7F7F;
	-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FD1818;
	-moz-border-radius: 60px;
	-webkit-border-radius: 60px;
	-khtml-border-radius: 60px;
	border-radius: 60px;
	position: relative;
	margin-right: -10000px;
}

#u41062-4
{
	z-index: 389;
	width: 26px;
	min-height: 35px;
	font-size: 28px;
	color: #FFFFFF;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	left: 9px;
}

#u41901
{
	z-index: 346;
	width: 645px;
	margin-left: 37px;
	margin-top: 25px;
	position: relative;
}

#u41903
{
	z-index: 347;
	width: 643px;
	background: -webkit-gradient(linear, left center, right center, from(#015B01),color-stop(100%, #039E03));
	background: -webkit-linear-gradient(left,#015B01 ,#039E03 100%);
	background: -moz-linear-gradient(left,#015B01 ,#039E03 100%);
	background: -ms-linear-gradient(left,#015B01 ,#039E03 100%);
	background: -o-linear-gradient(left,#015B01 ,#039E03 100%);
	background: linear-gradient(to right,#015B01 ,#039E03 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF015B01, endColorstr=#FF039E03, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF015B01', endColorstr='#FF039E03', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u41902-4
{
	z-index: 348;
	width: 607px;
	min-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 21px;
}

#u41911
{
	z-index: 361;
	width: 643px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.71);
	padding-bottom: 33px;
	margin-left: 37px;
	margin-top: 5px;
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.71);
}

#u42135
{
	z-index: 393;
	width: 222px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 21px;
}

#pu42141
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u42141
{
	z-index: 411;
	width: 11px;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	-khtml-border-radius: 70px;
	border-radius: 70px;
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	position: relative;
}

#u42137
{
	z-index: 412;
	width: 11px;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	-khtml-border-radius: 70px;
	border-radius: 70px;
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	margin-top: 9px;
	position: relative;
}

#u42138
{
	z-index: 413;
	width: 11px;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	-khtml-border-radius: 70px;
	border-radius: 70px;
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	margin-top: 22px;
	position: relative;
}

#u42136
{
	z-index: 414;
	width: 11px;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	-khtml-border-radius: 70px;
	border-radius: 70px;
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	margin-top: 9px;
	position: relative;
}

#u42139
{
	z-index: 415;
	width: 11px;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	-khtml-border-radius: 70px;
	border-radius: 70px;
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	margin-top: 9px;
	position: relative;
}

#u42140-17
{
	z-index: 394;
	width: 207px;
	min-height: 120px;
	text-align: justify;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 15px;
}

#u42140-3,#u42140-6,#u42140-9,#u42140-12,#u42140-15
{
	padding-top: 3px;
}

#u41920
{
	z-index: 372;
	width: 264px;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 335px;
}

#u41921
{
	z-index: 377;
	width: 11px;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	-khtml-border-radius: 70px;
	border-radius: 70px;
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

._u42141.f3s_top,._u42137.f3s_top,._u42138.f3s_top,._u42136.f3s_top,._u42139.f3s_top,._u41921.f3s_top
{
	height: 11px;
	background-image: url("../images/u41955-full.png");
	background-position: left top;
	width: 11px;
}

#u41922-4
{
	z-index: 373;
	width: 247px;
	min-height: 18px;
	text-align: justify;
	color: #006323;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 17px;
}

#u41904
{
	z-index: 352;
	width: 645px;
	margin-left: 38px;
	margin-top: 15px;
	position: relative;
}

#u41908
{
	z-index: 355;
	width: 645px;
	position: relative;
}

#u41910
{
	z-index: 356;
	width: 643px;
	background: -webkit-gradient(linear, left center, right center, from(#015B01),color-stop(100%, #039E03));
	background: -webkit-linear-gradient(left,#015B01 ,#039E03 100%);
	background: -moz-linear-gradient(left,#015B01 ,#039E03 100%);
	background: -ms-linear-gradient(left,#015B01 ,#039E03 100%);
	background: -o-linear-gradient(left,#015B01 ,#039E03 100%);
	background: linear-gradient(to right,#015B01 ,#039E03 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF015B01, endColorstr=#FF039E03, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF015B01', endColorstr='#FF039E03', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u41909-4
{
	z-index: 357;
	width: 612px;
	min-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 19px;
}

#u41902,#u41909
{
	font-size: 16px;
	color: #FFFFFF;
}

#u41905
{
	z-index: 353;
	width: 643px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.71);
	margin-top: 4px;
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.71);
}

#u41906
{
	z-index: 354;
	width: 373px;
	min-height: 327px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 21px;
}

#u41912-10
{
	z-index: 362;
	width: 210px;
	min-height: 189px;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 447px;
	left: 663px;
}

#u41256,#u41912
{
	font-size: 13px;
}

#u40971-5,#u40988-3,#u41256-3,#u41912-3
{
	font-size: 12px;
	color: #3E3E3E;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#pamphletu41923
{
	z-index: 378;
	width: 0.01px;
	height: 112px;
	padding-bottom: 312px;
	position: relative;
	margin-right: -10000px;
	margin-top: 211px;
	left: 594px;
}

#u41934
{
	position: absolute;
	width: 221px;
	top: 118px;
	left: 94px;
}

#u41934popup
{
	z-index: 379;
}

#u41935
{
	z-index: 380;
	width: 221px;
	height: 306px;
	position: relative;
	margin-right: -10000px;
	left: -97px;
	background: #2E2929 url("../images/libro-excelintermediol-u41975-fr.png") no-repeat left top;
	background-size: cover !important;
}

.LibrosEbookPopup
{
	border-style: none;
	-pie-box-shadow: 5px 5px 10px #B5B5B5;
	-moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.29);
	-webkit-box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.29);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.29);
	border-color: transparent;
	background-color: #2E2929;
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
}

#u41936
{
	z-index: 381;
	width: 221px;
	height: 306px;
	position: relative;
	margin-right: -10000px;
	left: -1px;
	background: #2E2929 url("../images/libro-excel-avanzado-u41976-fr.png") no-repeat left top;
	background-size: cover !important;
}

#u41937
{
	z-index: 382;
	width: 221px;
	height: 306px;
	position: relative;
	margin-right: -10000px;
	background: #2E2929 url("../images/libro-excel-financiero-u41977-fr.png") no-repeat left top;
	background-size: cover !important;
}

#u41924
{
	z-index: 383;
	width: 264px;
	position: relative;
	margin-right: -10000px;
}

#u41925
{
	position: absolute;
	width: 81px;
	height: 112px;
	border-style: none;
	border-color: transparent;
	background: #C4C4C4 url("../images/libro-excelintermediol-u41965-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u41925:hover
{
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	margin: 0px;
	background: #999999 url("../images/libro-excelintermediol-u41965-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u41925.PamphletThumbSelected
{
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/libro-excelintermediol-u41965-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u41927
{
	position: absolute;
	width: 81px;
	height: 112px;
	left: 91px;
	background: #FFFFFF url("../images/libro-excel-avanzado-u41967-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u41927:hover
{
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	border-color: #000000;
	margin: 0px;
	background: #999999 url("../images/libro-excel-avanzado-u41967-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u41927.PamphletThumbSelected
{
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/libro-excel-avanzado-u41967-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u41926
{
	position: absolute;
	width: 81px;
	height: 112px;
	left: 183px;
	background: #C4C4C4 url("../images/libro-excel-financiero-u41966-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u41926:hover
{
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	border-color: #000000;
	margin: 0px;
	background: #999999 url("../images/libro-excel-financiero-u41966-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u41926.PamphletThumbSelected
{
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/libro-excel-financiero-u41966-fr.png") no-repeat center center;
	background-size: cover !important;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u36869
{
	z-index: 18;
	width: 1160px;
	padding-bottom: 7px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 2259px;
	left: -100px;
}

#u36855_align_to_page,#u36874_align_to_page,#u36869_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#pu36873-17
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 122px;
}

#u36873-17
{
	z-index: 19;
	width: 493px;
	min-height: 16px;
}

#u38345-6
{
	z-index: 167;
	width: 448px;
	min-height: 28px;
	margin-top: 3px;
}

#pu36852-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 655px;
}

#u36852-4
{
	z-index: 36;
	width: 383px;
	min-height: 16px;
}

#u36851-6
{
	z-index: 40;
	width: 326px;
	min-height: 16px;
	margin-left: 57px;
	margin-top: 2px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -2258px;
}

