.p,.p-footer,.p-blanco
{
	font-family: asap-n4, sans-serif;
}

.p-cita-blanca
{
	font-family: asap-i4, sans-serif;
}

.h1,.h2,.TextoBotonAzul,.TextoBotonVerde
{
	font-family: comfortaa-n7, sans-serif;
}

#u31496-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u31572-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u31629-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u31590-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u31604-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u31613-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u31627-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u31597-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36059-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u31619-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u31567-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u31541-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u31518-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u31532-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u31550-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u31555-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u31561-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u31525-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u31580-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u17680-2,#u17928-4,#u17930-2,#u17929-2,#u17678-2
{
	font-family: comfortaa-n7, sans-serif;
}

#u29598-4,#u29596-4
{
	font-family: asap-n7, sans-serif;
}

#u18450-6,#u18454-6
{
	font-family: asap-i4, sans-serif;
}

#u21120-4,#u21117-4,#u29554-4,#u29562-4,#u29628-4,#u18427-4,#u18450-2,#u18454-2,#u18462-2,#u18458-2
{
	font-family: comfortaa-n7, sans-serif;
}

