.p,.p-footer,.p-blanco
{
	font-family: asap-n4, sans-serif;
}

.p-cita-blanca
{
	font-family: asap-i4, sans-serif;
}

.h1,.h2,.TextoBotonAzul,.TextoBotonVerde
{
	font-family: comfortaa-n7, sans-serif;
}

#u24861-4
{
	font-family: asap-n4, sans-serif;
}

#u24860-4,#u36221-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36341-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36283-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36335-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36307-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36325-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36312-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36294-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36301-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36320-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36279-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36239-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36246-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36275-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36259-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36267-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36251-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36231-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36215-4
{
	font-family: comfortaa-n7, sans-serif;
}

