#u24964
{
	border-color: #01A7C9;
	position: relative;
	background: #01A7C9 url("../images/presenciales.jpg") no-repeat left center;
	background-size: cover !important;
}

#u24965-4
{
	text-align: left;
	font-size: 48px;
	color: #FFFFFF;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u24927
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 2px 9px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u24949
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #007233 url("../images/barra-verde.png") no-repeat center center;
}

#u24925,#u24941,#u24926
{
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}

._u24925.f3s_top,._u24941.f3s_top,._u24926.f3s_top
{
	background-image: url("../images/u21230-full.png");
	background-position: left top;
}

#u36367
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u36367:hover
{
	background-color: #FDFDFD;
	background-color: rgba(153, 153, 153, 0.01);
	-pie-background: rgba(153, 153, 153, 0.01);
}

#u36367:active
{
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u36367.MuseMenuActive
{
	background-color: #FDFDFD;
	background-color: rgba(153, 153, 153, 0.01);
	-pie-background: rgba(153, 153, 153, 0.01);
}

#u36369-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36488
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u36488:hover
{
	background-color: #FDFDFD;
	background-color: rgba(153, 153, 153, 0.01);
	-pie-background: rgba(153, 153, 153, 0.01);
}

#u36488:active
{
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u36488.MuseMenuActive
{
	background-color: #FDFDFD;
	background-color: rgba(153, 153, 153, 0.01);
	-pie-background: rgba(153, 153, 153, 0.01);
}

#u36489-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36430
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u36430:hover
{
	background-color: #FDFDFD;
	background-color: rgba(153, 153, 153, 0.01);
	-pie-background: rgba(153, 153, 153, 0.01);
}

#u36430:active
{
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u36430.MuseMenuActive
{
	background-color: #FDFDFD;
	background-color: rgba(153, 153, 153, 0.01);
	-pie-background: rgba(153, 153, 153, 0.01);
}

#u36431-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36433
{
	position: relative;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u36430:hover #u36433
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u36430:active #u36433
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u36481
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36481:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36483-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36481:hover #u36483-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36481:active #u36483-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36483-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u36453
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36481.MuseMenuActive,#u36453:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36455-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36481.MuseMenuActive #u36483-4 p,#u36453:hover #u36455-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36453:active #u36455-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36455-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u36472
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36453.MuseMenuActive,#u36472:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36473-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36453.MuseMenuActive #u36455-4 p,#u36472:hover #u36473-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36472:active #u36473-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36473-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u36458
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36472.MuseMenuActive,#u36458:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36460-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36472.MuseMenuActive #u36473-4 p,#u36458:hover #u36460-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36458:active #u36460-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36460-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u36439
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36458.MuseMenuActive,#u36439:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36442-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36458.MuseMenuActive #u36460-4 p,#u36439:hover #u36442-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36439:active #u36442-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36442-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u36446
{
	border-style: solid;
	border-color: #626060;
	position: relative;
	border-width: 0px 0px 1px;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36439.MuseMenuActive,#u36446:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36449-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36439.MuseMenuActive #u36442-4 p,#u36446:hover #u36449-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36446:active #u36449-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36449-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u36465
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36446.MuseMenuActive,#u36465:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36468-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36446.MuseMenuActive #u36449-4 p,#u36465:hover #u36468-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36465:active #u36468-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36468-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u36425
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u36425:hover
{
	background-color: #FDFDFD;
	background-color: rgba(153, 153, 153, 0.01);
	-pie-background: rgba(153, 153, 153, 0.01);
}

#u36425:active
{
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u36425.MuseMenuActive
{
	background-color: #FDFDFD;
	background-color: rgba(153, 153, 153, 0.01);
	-pie-background: rgba(153, 153, 153, 0.01);
}

#u36427-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36426
{
	position: relative;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u36430.MuseMenuActive #u36433,#u36425:hover #u36426
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u36425:active #u36426
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u36425.MuseMenuActive #u36426
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u36386
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36465.MuseMenuActive,#u36386:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36387-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36465.MuseMenuActive #u36468-4 p,#u36386:hover #u36387-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36386:active #u36387-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36387-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u36393
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36386.MuseMenuActive,#u36393:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36394-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36386.MuseMenuActive #u36387-4 p,#u36393:hover #u36394-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36393:active #u36394-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36394-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u36421
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36393.MuseMenuActive,#u36421:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36423-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36393.MuseMenuActive #u36394-4 p,#u36421:hover #u36423-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36421:active #u36423-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36423-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u36405
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36421.MuseMenuActive,#u36405:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36407-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36421.MuseMenuActive #u36423-4 p,#u36405:hover #u36407-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36405:active #u36407-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36407-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u36412
{
	border-style: solid;
	border-color: #626060;
	position: relative;
	border-width: 0px 0px 1px;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36405.MuseMenuActive,#u36412:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36415-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36405.MuseMenuActive #u36407-4 p,#u36412:hover #u36415-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36412:active #u36415-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36415-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u36398
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36412.MuseMenuActive,#u36398:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36399-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36412.MuseMenuActive #u36415-4 p,#u36398:hover #u36399-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36398:active #u36399-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36399-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u36377
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36398.MuseMenuActive,#u36377:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36377.MuseMenuActive
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36379-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36398.MuseMenuActive #u36399-4 p,#u36377:hover #u36379-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36377:active #u36379-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36377.MuseMenuActive #u36379-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36379-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u36360
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u36360:hover
{
	background-color: #FDFDFD;
	background-color: rgba(153, 153, 153, 0.01);
	-pie-background: rgba(153, 153, 153, 0.01);
}

#u36360:active
{
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u36360.MuseMenuActive
{
	background-color: #FDFDFD;
	background-color: rgba(153, 153, 153, 0.01);
	-pie-background: rgba(153, 153, 153, 0.01);
}

#u36363-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36367.MuseMenuActive #u36369-4,#u36488.MuseMenuActive #u36489-4,#u36430.MuseMenuActive #u36431-4,#u36425.MuseMenuActive #u36427-4,#u36360.MuseMenuActive #u36363-4
{
	border-style: none;
	border-color: transparent;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u38606
{
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
3px 3px 8px #7F7F7F/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
3px 3px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
3px 3px 8px -1px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
3px 3px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #FFFFFF url("../images/light_wool.png") repeat center center;
}

#u24959
{
	-pie-box-shadow: 0px -2px 8px #7F7F7F;
	-moz-box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px -2px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #FFFFFF url("../images/light_wool.png") repeat left top;
}

#u24960-3,#u25452-3,#u25453-3,#u25453-5
{
	color: #006422;
	font-family: asap, sans-serif;
	font-weight: 700;
}

#u25452-5,#u25453-7
{
	font-size: 16px;
	color: #3E3E3E;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u25453-31
{
	text-align: justify;
	font-weight: normal;
}

#u24960-17,#u24960-25,#u24960-33,#u25452-17,#u25452-25,#u25452-33,#u25453-19,#u25453-27,#u25453-35
{
	text-align: justify;
}

#u24960-9,#u24960-12,#u24960-13,#u24960-20,#u24960-21,#u24960-28,#u24960-29,#u24960-36,#u24960-37,#u24960-41,#u25452-9,#u25452-12,#u25452-13,#u25452-20,#u25452-21,#u25452-28,#u25452-29,#u25452-36,#u25452-37,#u25452-41,#u25453-11,#u25453-14,#u25453-15,#u25453-22,#u25453-23,#u25453-30,#u25453-38,#u25453-39,#u25453-43
{
	text-align: justify;
	font-weight: bold;
}

#u24960-38,#u25452-38,#u25453-40
{
	font-size: 1px;
	line-height: 0px;
}

#u24960-39,#u25452-39,#u25453-41
{
	font-weight: normal;
}

#u29517,#u25770,#u25774
{
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #006323;
	-moz-border-radius: 5px 5px 0px 0px ;
	-webkit-border-radius: 5px 5px 0px 0px ;
	-khtml-border-radius: 5px 5px 0px 0px ;
	border-radius: 5px 5px 0px 0px ;
	position: relative;
}

#pu29517:hover #u29517,#pu25770:hover #u25770,#pu25774:hover #u25774
{
	background: none;
	-pie-background: none;
	border-style: none;
	-moz-border-radius: 5px 5px 0px 0px ;
	-webkit-border-radius: 5px 5px 0px 0px ;
	-khtml-border-radius: 5px 5px 0px 0px ;
	border-radius: 5px 5px 0px 0px ;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	position: relative;
}

#pu29517:hover ._u29517.f3s_top,#pu25770:hover ._u25770.f3s_top,#pu25774:hover ._u25774.f3s_top
{
	background-image: url("../images/u29517-r-sprite.png");
	overflow: hidden;
	background-position: left top;
}

#pu29517:hover ._u29517.f3s_mid,#pu25770:hover ._u25770.f3s_mid,#pu25774:hover ._u25774.f3s_mid
{
	background-image: url("../images/u29517-r-sprite.png");
	overflow: visible;
	background-position: -76px top;
}

#pu29517:hover ._u29517.f3s_bot,#pu25770:hover ._u25770.f3s_bot,#pu25774:hover ._u25774.f3s_bot
{
	background-image: url("../images/u29517-r-sprite.png");
	overflow: visible;
	background-position: -152px top;
}

#u29516-4,#u25771-4,#u25775-4
{
	text-align: center;
	font-size: 12px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
}

#u24960-7,#u24960-11,#u24960-19,#u24960-27,#u24960-35,#u24960-40,#u25452-7,#u25452-11,#u25452-19,#u25452-27,#u25452-35,#u25452-40,#u25453-9,#u25453-13,#u25453-21,#u25453-29,#u25453-37,#u25453-42
{
	font-weight: 400;
}

#u24958
{
	border-style: solid;
	border-color: #BABABA;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	position: relative;
	border-width: 1px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u35805
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #383636 url("../images/dark_mosaic.png") repeat left top;
}

#u24964_align_to_page,#u24927_align_to_page,#u24947,#u24943,#u24939,#menuu36358,#u36366,#u36485,#u36429,#u36435,#u36478,#u36450,#u36471,#u36457,#u36436,#u36443,#u36464,#u36373,#u36375,#u36383,#u36390,#u36418,#u36404,#u36411,#u36397,#u36376,#u36359,#u38605,#u38607,#u24959_align_to_page,#u24957-4,#u24960-43,#u25452-43,#u25453-45,#u35805_align_to_page,#u35806-17,#u38344-6
{
	position: relative;
}

#u35809-4,#u35810-6
{
	text-align: right;
	position: relative;
}

#u24960-6,#u24960-8,#u24960-10,#u24960-14,#u24960-16,#u24960-18,#u24960-22,#u24960-24,#u24960-26,#u24960-30,#u24960-32,#u24960-34,#u25452-6,#u25452-8,#u25452-10,#u25452-14,#u25452-16,#u25452-18,#u25452-22,#u25452-24,#u25452-26,#u25452-30,#u25452-32,#u25452-34,#u25453-8,#u25453-10,#u25453-12,#u25453-16,#u25453-18,#u25453-20,#u25453-24,#u25453-26,#u25453-28,#u25453-32,#u25453-34,#u25453-36,#u35810-2
{
	font-weight: 700;
}

