#u25671
{
	border-color: #01A7C9;
	position: relative;
	background: #01A7C9 url("../images/presenciales.jpg") no-repeat left center;
	background-size: cover !important;
}

#u25675-4
{
	text-align: left;
	font-size: 48px;
	color: #FFFFFF;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u25665
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 2px 9px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u25648
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #007233 url("../images/barra-verde.png") no-repeat center center;
}

#u25643,#u25674,#u25672
{
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	filter: alpha(opacity=20);
}

._u25643.f3s_top,._u25674.f3s_top,._u25672.f3s_top
{
	background-image: url("../images/u21230-full.png");
	background-position: left top;
}

#u36515
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u36515:hover
{
	background-color: #FDFDFD;
	background-color: rgba(153, 153, 153, 0.01);
	-pie-background: rgba(153, 153, 153, 0.01);
}

#u36515:active
{
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u36515.MuseMenuActive
{
	background-color: #FDFDFD;
	background-color: rgba(153, 153, 153, 0.01);
	-pie-background: rgba(153, 153, 153, 0.01);
}

#u36517-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36636
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u36636:hover
{
	background-color: #FDFDFD;
	background-color: rgba(153, 153, 153, 0.01);
	-pie-background: rgba(153, 153, 153, 0.01);
}

#u36636:active
{
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u36636.MuseMenuActive
{
	background-color: #FDFDFD;
	background-color: rgba(153, 153, 153, 0.01);
	-pie-background: rgba(153, 153, 153, 0.01);
}

#u36637-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36578
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u36578:hover
{
	background-color: #FDFDFD;
	background-color: rgba(153, 153, 153, 0.01);
	-pie-background: rgba(153, 153, 153, 0.01);
}

#u36578:active
{
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u36578.MuseMenuActive
{
	background-color: #FDFDFD;
	background-color: rgba(153, 153, 153, 0.01);
	-pie-background: rgba(153, 153, 153, 0.01);
}

#u36579-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36581
{
	position: relative;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u36578:hover #u36581
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u36578:active #u36581
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u36629
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36629:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36631-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36629:hover #u36631-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36629:active #u36631-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36631-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u36601
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36629.MuseMenuActive,#u36601:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36603-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36629.MuseMenuActive #u36631-4 p,#u36601:hover #u36603-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36601:active #u36603-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36603-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u36620
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36601.MuseMenuActive,#u36620:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36621-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36601.MuseMenuActive #u36603-4 p,#u36620:hover #u36621-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36620:active #u36621-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36621-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u36606
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36620.MuseMenuActive,#u36606:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36608-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36620.MuseMenuActive #u36621-4 p,#u36606:hover #u36608-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36606:active #u36608-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36608-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u36587
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36606.MuseMenuActive,#u36587:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36590-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36606.MuseMenuActive #u36608-4 p,#u36587:hover #u36590-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36587:active #u36590-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36590-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u36594
{
	border-style: solid;
	border-color: #626060;
	position: relative;
	border-width: 0px 0px 1px;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36587.MuseMenuActive,#u36594:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36597-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36587.MuseMenuActive #u36590-4 p,#u36594:hover #u36597-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36594:active #u36597-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36597-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u36613
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36594.MuseMenuActive,#u36613:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36616-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36594.MuseMenuActive #u36597-4 p,#u36613:hover #u36616-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36613:active #u36616-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36616-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u36573
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u36573:hover
{
	background-color: #FDFDFD;
	background-color: rgba(153, 153, 153, 0.01);
	-pie-background: rgba(153, 153, 153, 0.01);
}

#u36573:active
{
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u36573.MuseMenuActive
{
	background-color: #FDFDFD;
	background-color: rgba(153, 153, 153, 0.01);
	-pie-background: rgba(153, 153, 153, 0.01);
}

#u36575-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36574
{
	position: relative;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u36578.MuseMenuActive #u36581,#u36573:hover #u36574
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u36573:active #u36574
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u36573.MuseMenuActive #u36574
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u36534
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36613.MuseMenuActive,#u36534:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36535-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36613.MuseMenuActive #u36616-4 p,#u36534:hover #u36535-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36534:active #u36535-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36535-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u36541
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36534.MuseMenuActive,#u36541:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36542-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36534.MuseMenuActive #u36535-4 p,#u36541:hover #u36542-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36541:active #u36542-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36542-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u36569
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36541.MuseMenuActive,#u36569:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36571-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36541.MuseMenuActive #u36542-4 p,#u36569:hover #u36571-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36569:active #u36571-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36571-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u36553
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36569.MuseMenuActive,#u36553:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36555-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36569.MuseMenuActive #u36571-4 p,#u36553:hover #u36555-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36553:active #u36555-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36555-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u36560
{
	border-style: solid;
	border-color: #626060;
	position: relative;
	border-width: 0px 0px 1px;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36553.MuseMenuActive,#u36560:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36563-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36553.MuseMenuActive #u36555-4 p,#u36560:hover #u36563-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36560:active #u36563-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36563-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u36546
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36560.MuseMenuActive,#u36546:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36547-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36560.MuseMenuActive #u36563-4 p,#u36546:hover #u36547-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36546:active #u36547-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36547-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u36525
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.png") repeat center center;
}

#u36546.MuseMenuActive,#u36525:hover
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36525.MuseMenuActive
{
	background: transparent url("../images/dark_mosaic.png") repeat center center;
}

#u36527-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36546.MuseMenuActive #u36547-4 p,#u36525:hover #u36527-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36525:active #u36527-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36525.MuseMenuActive #u36527-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36527-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u36508
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.01);
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.01);
}

#u36508:hover
{
	background-color: #FDFDFD;
	background-color: rgba(153, 153, 153, 0.01);
	-pie-background: rgba(153, 153, 153, 0.01);
}

#u36508:active
{
	background-color: #FDFDFD;
	background-color: rgba(107, 107, 107, 0.01);
	-pie-background: rgba(107, 107, 107, 0.01);
}

#u36508.MuseMenuActive
{
	background-color: #FDFDFD;
	background-color: rgba(153, 153, 153, 0.01);
	-pie-background: rgba(153, 153, 153, 0.01);
}

#u36511-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #000000;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36515.MuseMenuActive #u36517-4,#u36636.MuseMenuActive #u36637-4,#u36578.MuseMenuActive #u36579-4,#u36573.MuseMenuActive #u36575-4,#u36508.MuseMenuActive #u36511-4
{
	border-style: none;
	border-color: transparent;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u38619
{
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
3px 3px 8px #7F7F7F/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
3px 3px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
3px 3px 8px -1px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
3px 3px 8px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #FFFFFF url("../images/light_wool.png") repeat center center;
}

#u35811
{
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #383636 url("../images/dark_mosaic.png") repeat left top;
}

#u25671_align_to_page,#u25665_align_to_page,#u25676,#u25679,#u25645,#menuu36506,#u36514,#u36633,#u36577,#u36583,#u36626,#u36598,#u36619,#u36605,#u36584,#u36591,#u36612,#u36521,#u36523,#u36531,#u36538,#u36566,#u36552,#u36559,#u36545,#u36524,#u36507,#u38618,#u38620,#u35811_align_to_page,#u35812-17,#u38346-6
{
	position: relative;
}

#u35815-4,#u35816-6
{
	text-align: right;
	position: relative;
}

#u35816-2
{
	font-weight: 700;
}

