.version.compulearning_cursos_presenciales_excel_macros_cop /* version checker */
{
	color: #0000FC;
	background-color: #1869C6;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 817px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu24964
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -1px;
	margin-left: -100px;
}

#u24964
{
	z-index: 2;
	min-height: 131px;
	padding-bottom: 66px;
}

#u24965-4
{
	z-index: 3;
	width: 682px;
	min-height: 58px;
	margin-right: -10000px;
	margin-top: 73px;
	left: 122px;
}

#u24964-bw
{
	z-index: 2;
	min-height: 131px;
	margin-top: 104px;
}

#u24927
{
	z-index: 7;
	min-height: 103px;
}

#menuu36358
{
	z-index: 37;
	width: 630px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 377px;
}

#u36366
{
	width: 57px;
	min-height: 61px;
	margin-right: -10000px;
}

#u36367
{
	width: 57px;
	padding-bottom: 44px;
}

#u36367:hover
{
	width: 57px;
	min-height: 0px;
	margin: 0px;
}

#u36367:active
{
	width: 57px;
	min-height: 0px;
	margin: 0px;
}

#u36367.MuseMenuActive
{
	width: 57px;
	min-height: 0px;
	margin: 0px;
}

#u36369-4
{
	width: 44px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36367:hover #u36369-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u36367:active #u36369-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u36367.MuseMenuActive #u36369-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u36485
{
	width: 93px;
	min-height: 61px;
	margin-right: -10000px;
	left: 59px;
}

#u36488
{
	width: 93px;
	padding-bottom: 44px;
}

#u36488:hover
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u36488:active
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u36488.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u36489-4
{
	width: 80px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36488:hover #u36489-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u36488:active #u36489-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u36488.MuseMenuActive #u36489-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u36429
{
	width: 162px;
	min-height: 61px;
	margin-right: -10000px;
	left: 154px;
}

#u36430
{
	width: 162px;
	padding-bottom: 44px;
}

#u36430:hover
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u36430:active
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u36430.MuseMenuActive
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u36431-4
{
	width: 136px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36430:hover #u36431-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u36430:active #u36431-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u36430.MuseMenuActive #u36431-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u36433
{
	z-index: 56;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 23px;
	left: 142px;
}

#u36430:hover #u36433
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36430:active #u36433
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36434
{
	width: 150px;
	top: 61px;
}

#u36481
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36481:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36483-4
{
	width: 60px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 40px;
}

#u36481:hover #u36483-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u36481.MuseMenuActive #u36483-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u36453
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36481.MuseMenuActive,#u36453:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36455-4
{
	width: 96px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 22px;
}

#u36453:hover #u36455-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u36453.MuseMenuActive #u36455-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u36472
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36453.MuseMenuActive,#u36472:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36473-4
{
	width: 89px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 25px;
}

#u36472:hover #u36473-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u36472.MuseMenuActive #u36473-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u36458
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36472.MuseMenuActive,#u36458:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36460-4
{
	width: 69px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 35px;
}

#u36458:hover #u36460-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u36458.MuseMenuActive #u36460-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u36439
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36458.MuseMenuActive,#u36439:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36442-4
{
	width: 95px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 22px;
}

#u36439:hover #u36442-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u36439.MuseMenuActive #u36442-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u36446
{
	width: 150px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u36446:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36446.MuseMenuActive
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36449-4
{
	width: 120px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 11px;
}

#u36446:hover #u36449-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u36446.MuseMenuActive #u36449-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u36435,#u36478,#u36450,#u36471,#u36457,#u36436,#u36443,#u36464
{
	width: 150px;
}

#u36465
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36439.MuseMenuActive,#u36465:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36465.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36468-4
{
	width: 68px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 36px;
}

#u36465:hover #u36468-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u36465.MuseMenuActive #u36468-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u36373
{
	width: 187px;
	min-height: 61px;
	margin-right: -10000px;
	left: 318px;
}

#u36425
{
	width: 187px;
	padding-bottom: 44px;
}

#u36425:hover
{
	width: 187px;
	min-height: 0px;
	margin: 0px;
}

#u36425:active
{
	width: 187px;
	min-height: 0px;
	margin: 0px;
}

#u36425.MuseMenuActive
{
	width: 187px;
	min-height: 0px;
	margin: 0px;
}

#u36427-4
{
	width: 161px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36425:hover #u36427-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u36425:active #u36427-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u36425.MuseMenuActive #u36427-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u36426
{
	z-index: 107;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 23px;
	left: 167px;
}

#u36430.MuseMenuActive #u36433,#u36425:hover #u36426
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36425:active #u36426
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36425.MuseMenuActive #u36426
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36374
{
	width: 177px;
	top: 61px;
}

#u36386
{
	width: 175px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u36386:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36387-4
{
	width: 58px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 54px;
}

#u36386:hover #u36387-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u36386.MuseMenuActive #u36387-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u36393
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36386.MuseMenuActive,#u36393:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36394-4
{
	width: 94px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 36px;
}

#u36393:hover #u36394-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u36393.MuseMenuActive #u36394-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u36421
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36393.MuseMenuActive,#u36421:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36423-4
{
	width: 87px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 40px;
}

#u36421:hover #u36423-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u36421.MuseMenuActive #u36423-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u36405
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36421.MuseMenuActive,#u36405:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36407-4
{
	width: 67px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 50px;
}

#u36405:hover #u36407-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u36405.MuseMenuActive #u36407-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u36412
{
	width: 177px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u36412:hover
{
	width: 177px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36412.MuseMenuActive
{
	width: 177px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36415-4
{
	width: 118px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u36412:hover #u36415-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u36412.MuseMenuActive #u36415-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u36398
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36405.MuseMenuActive,#u36398:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36399-4
{
	width: 79px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 44px;
}

#u36398:hover #u36399-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u36398.MuseMenuActive #u36399-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u36375,#u36383,#u36390,#u36418,#u36404,#u36411,#u36397,#u36376
{
	width: 177px;
}

#u36377
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36398.MuseMenuActive,#u36377:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36377.MuseMenuActive
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36379-4
{
	width: 66px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 50px;
}

#u36377:hover #u36379-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u36377.MuseMenuActive #u36379-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u36359
{
	width: 123px;
	min-height: 61px;
	margin-right: -10000px;
	left: 507px;
}

#u36360
{
	width: 123px;
	padding-bottom: 44px;
}

#u36360:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u36360:active
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u36360.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u36363-4
{
	width: 111px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36360:hover #u36363-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u36360:active #u36363-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u36360.MuseMenuActive #u36363-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u24927-bw
{
	z-index: 7;
	min-height: 103px;
	margin-top: 1px;
}

#u42986
{
	z-index: 164;
	min-height: 36px;
	padding-bottom: 6px;
}

#u43196
{
	z-index: 169;
	width: 32px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 926px;
}

#u43198
{
	z-index: 171;
	width: 32px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 962px;
}

#u43200
{
	z-index: 173;
	width: 30px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 998px;
}

#u43203
{
	z-index: 174;
	width: 30px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u43201
{
	z-index: 175;
	width: 16px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 8px;
}

#u42986-bw
{
	z-index: 164;
	min-height: 36px;
	margin-top: 1px;
}

#u38605
{
	z-index: 165;
	width: 225px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 130px;
}

#u38606
{
	z-index: 166;
	width: 225px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u38607
{
	z-index: 167;
	width: 210px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 8px;
}

#u41732
{
	z-index: 178;
	height: 714px;
	border-style: none;
	border-color: transparent;
	background: #FFFFFF url("../images/popupimagenesmacros.jpg") no-repeat center top;
}

#u41732-bw
{
	z-index: 178;
	margin-top: 314px;
	height: 714px;
}

#u41742
{
	z-index: 179;
	width: 722px;
	height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	margin-right: -10000px;
	left: 219px;
	-pie-background: rgba(255,255,255,0.01);
}

#u42386
{
	z-index: 180;
	min-height: 1027px;
	border-style: none;
	border-color: transparent;
	background-color: #3F3F3F;
	background-color: rgba(0,0,0,0.75);
	-pie-background: rgba(0,0,0,0.75);
}

#u42386_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u42388
{
	z-index: 181;
	width: 313px;
	height: 1028px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	-pie-background: rgba(255,255,255,0.01);
}

#pu42431
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -1px;
	margin-left: 313px;
}

#u42431
{
	z-index: 184;
	width: 588px;
	height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	-pie-background: rgba(255,255,255,0.01);
}

#u42395
{
	z-index: 182;
	width: 589px;
	height: 470px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	margin-top: 508px;
	position: relative;
	-pie-background: rgba(255,255,255,0.01);
}

#u42386-bw
{
	z-index: 180;
	min-height: 1027px;
	margin-top: 1px;
}

#u42396
{
	z-index: 183;
	width: 258px;
	height: 1028px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	margin-right: -10000px;
	left: 902px;
	-pie-background: rgba(255,255,255,0.01);
}

#u42572
{
	z-index: 185;
	width: 543px;
	-pie-box-shadow: 2px 8px 8px #7F7F7F;
	box-shadow: 2px 8px 8px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 313px;
	padding: 28px 23px 22.40000000000009px;
	background: #FFFFFF url("../images/popupgray.jpg") repeat left top;
}

#u42720
{
	z-index: 194;
	width: 541px;
	background: -webkit-gradient(linear, left center, right center, from(#015B01),color-stop(100%, #039E03));
	background: -webkit-linear-gradient(left,#015B01 ,#039E03 100%);
	background: linear-gradient(to right,#015B01 ,#039E03 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF015B01, endColorstr=#FF039E03, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF015B01', endColorstr='#FF039E03', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	position: relative;
}

#u42732
{
	z-index: 235;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: 4px;
}

#u42721-4
{
	z-index: 195;
	width: 462px;
	min-height: 23px;
	background-color: transparent;
	text-align: left;
	line-height: 1.18;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 78px;
}

#u42721
{
	font-size: 18px;
	color: #FFFFFF;
}

#u42717
{
	z-index: 192;
	width: 541px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.71);
	padding-bottom: 17px;
	margin-top: 9px;
	position: relative;
	-pie-background: rgba(255,255,255,0.71);
}

#pu42729-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 25px;
}

#u42729-4
{
	z-index: 222;
	width: 262px;
	min-height: 21px;
	background-color: transparent;
	text-align: justify;
	margin-left: 2px;
	position: relative;
}

#u42723
{
	z-index: 203;
	width: 246px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 7px;
	position: relative;
}

#pu42724
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 6px;
}

#u42724
{
	z-index: 218;
	width: 10px;
	height: 9px;
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0C6223;
	background-color: #0C6223;
	border-radius: 70px;
	position: relative;
}

#u42727
{
	z-index: 219;
	width: 10px;
	height: 9px;
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0C6223;
	background-color: #0C6223;
	border-radius: 70px;
	margin-top: 10px;
	position: relative;
}

#u42728
{
	z-index: 220;
	width: 10px;
	height: 9px;
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0C6223;
	background-color: #0C6223;
	border-radius: 70px;
	margin-top: 7px;
	position: relative;
}

#u42726
{
	z-index: 221;
	width: 10px;
	height: 9px;
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0C6223;
	background-color: #0C6223;
	border-radius: 70px;
	margin-top: 8px;
	position: relative;
}

#u42724::before,#u42727::before,#u42728::before,#u42726::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 70px;
	box-shadow: inset 1px 1px 2px rgba(255,255,255,0.75), inset -1px -1px 2px rgba(0,0,0,0.75);
}

#u42725-14
{
	z-index: 204;
	width: 226px;
	min-height: 82px;
	background-color: transparent;
	text-align: left;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 20px;
}

#u42725-3,#u42725-6,#u42725-9,#u42725-12
{
	padding-top: 3px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u42725,#u42725-4,#u42725-7,#u42725-10
{
	font-size: 13px;
}

#u42730-4
{
	z-index: 226;
	width: 264px;
	min-height: 21px;
	background-color: transparent;
	text-align: justify;
	margin-top: 33px;
	position: relative;
}

#u42729,#u42730
{
	font-size: 14px;
	color: #015B01;
}

#u42735
{
	z-index: 244;
	width: 5px;
	height: 302px;
	border-style: solid;
	border-color: #D7D7D7;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 296px;
	border-width: 0px 0px 0px 1px;
}

#pu42718
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 32px;
	margin-left: 309px;
}

#u42718
{
	z-index: 193;
	width: 232px;
	min-height: 164px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u42734-7
{
	z-index: 237;
	width: 208px;
	min-height: 136px;
	background-color: transparent;
	color: #3E3E3E;
	font-size: 9px;
	margin-top: 3px;
	position: relative;
}

#u42734-2
{
	font-weight: bold;
}

#u42397
{
	z-index: 186;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 885px;
}

#u42399
{
	z-index: 187;
	width: 32px;
	-pie-box-shadow: 2px 2px 6px #7F7F7F;
	box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FD1818;
	border-radius: 60px;
	position: relative;
	margin-right: -10000px;
}

#u42398-4
{
	z-index: 188;
	width: 26px;
	min-height: 35px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 28px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u42722-4
{
	z-index: 199;
	width: 462px;
	min-height: 23px;
	background-color: transparent;
	text-align: left;
	line-height: 1.18;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 416px;
}

#u42721-2  span,#u42722-2  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.18;
}

#u42722
{
	font-size: 13px;
	color: #FFFFFF;
}

#u42731-5
{
	z-index: 230;
	width: 264px;
	min-height: 21px;
	background-color: transparent;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
	left: 363px;
}

#u42721-2,#u42722-2,#u42731-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u42725-3  span,#u42725-3  a,#u42725-6  span,#u42725-6  a,#u42725-9  span,#u42725-9  a,#u42725-12  span,#u42725-12  a,#u42731-3  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u42731
{
	font-size: 15px;
	color: #015B01;
}

#u42731-2
{
	font-size: 10px;
	color: #015B01;
}

#u42736
{
	z-index: 245;
	width: 5px;
	height: 251px;
	border-style: solid;
	border-color: #D7D7D7;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,129,122);
	-ms-transform: matrix(0,1,-1,0,129,122);
	transform: matrix(0,1,-1,0,129,122);
	position: relative;
	margin-right: -10000px;
	margin-top: 185px;
	left: 487px;
	border-width: 0px 0px 0px 1px;
}

#pamphletu42737
{
	z-index: 246;
	width: 0.01px;
	height: 286px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
	left: 363px;
}

#u42748
{
	position: absolute;
	width: 209px;
	left: 283px;
}

#u42748popup
{
	z-index: 247;
}

#u42751
{
	z-index: 248;
	width: 209px;
	height: 289px;
	position: relative;
	margin-right: -10000px;
	background: #2E2929 url("../images/libro-excelintermediol.png") no-repeat left top;
	background-size: cover;
}

.LibrosEbookPopup
{
	border-style: none;
	-pie-box-shadow: 5px 5px 10px #B5B5B5;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.29);
	border-color: transparent;
	border-radius: 0px 0px 10px 10px ;
	background: #2E2929 url("../images/excelavanzado.jpg") no-repeat left top;
	background-size: cover;
}

#u42750
{
	z-index: 249;
	width: 209px;
	height: 289px;
	position: relative;
	margin-right: -10000px;
	background: #2E2929 url("../images/libro-excel-avanzado.png") no-repeat left top;
	background-size: cover;
}

#u42749
{
	z-index: 250;
	width: 209px;
	height: 289px;
	position: relative;
	margin-right: -10000px;
	background: #2E2929 url("../images/libro-excel-financiero-ieu42253-fr.png") no-repeat left top;
	background: rgba(0,0,0,0) url("../images/libro-excel-financiero.png") no-repeat left top;
	background-color: #2E2929;
	background-size: cover;
}

#u42742
{
	z-index: 251;
	width: 257px;
	position: relative;
	margin-right: -10000px;
	margin-top: 174px;
}

#u42745
{
	position: absolute;
	width: 81px;
	height: 112px;
	border-style: none;
	border-color: transparent;
	background: #C4C4C4 url("../images/libro-excelintermediol-u42258-fr.png") no-repeat center center;
	background-size: cover;
}

#u42745:hover
{
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	width: 81px;
	height: 112px;
	min-height: 0px;
	margin: 0px;
	background: #999999 url("../images/libro-excelintermediol-u42258-fr.png") no-repeat center center;
	background-size: cover;
}

#u42745.PamphletThumbSelected
{
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	border-radius: 0px;
	width: 81px;
	height: 112px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/libro-excelintermediol-u42258-fr.png") no-repeat center center;
	background-size: cover;
}

#u42744
{
	position: absolute;
	width: 81px;
	height: 112px;
	left: 87px;
	background: #FFFFFF url("../images/libro-excel-avanzado-u42259-fr.png") no-repeat center center;
	background-size: cover;
}

#u42744:hover
{
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-color: #000000;
	width: 81px;
	height: 112px;
	min-height: 0px;
	margin: 0px;
	background: #999999 url("../images/libro-excel-avanzado-u42259-fr.png") no-repeat center center;
	background-size: cover;
}

#u42744.PamphletThumbSelected
{
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	border-radius: 0px;
	width: 81px;
	height: 112px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/libro-excel-avanzado-u42259-fr.png") no-repeat center center;
	background-size: cover;
}

#u42743
{
	position: absolute;
	width: 81px;
	height: 112px;
	left: 176px;
	background: #C4C4C4 url("../images/libro-excel-financiero-u42257-fr.png") no-repeat center center;
	background-size: cover;
}

#u42743:hover
{
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-color: #000000;
	width: 81px;
	height: 112px;
	min-height: 0px;
	margin: 0px;
	background: #999999 url("../images/libro-excel-financiero-u42257-fr.png") no-repeat center center;
	background-size: cover;
}

#u42743.PamphletThumbSelected
{
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	border-radius: 0px;
	width: 81px;
	height: 112px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/libro-excel-financiero-u42257-fr.png") no-repeat center center;
	background-size: cover;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu24959
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1033px;
	margin-left: -100px;
}

#u24959
{
	z-index: 8;
	min-height: 369px;
	padding-bottom: 77px;
}

#u43240
{
	z-index: 177;
	width: 916px;
	min-height: 345px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 122px;
}

#u24959-bw
{
	z-index: 8;
	min-height: 369px;
}

#u35805
{
	z-index: 9;
	min-height: 57px;
	padding-bottom: 7px;
}

#u24964_align_to_page,#u24927_align_to_page,#u42986_align_to_page,#u24959_align_to_page,#u35805_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#pu35806-17
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 122px;
}

#u35806-17
{
	z-index: 10;
	width: 493px;
	min-height: 16px;
}

#u38344-6
{
	z-index: 158;
	width: 448px;
	min-height: 28px;
	margin-top: 2px;
}

#pu35809-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 655px;
}

#u35809-4
{
	z-index: 27;
	width: 383px;
	min-height: 16px;
}

#u35810-6
{
	z-index: 31;
	width: 326px;
	min-height: 16px;
	margin-left: 57px;
	margin-top: 2px;
}

#u35805-bw
{
	z-index: 9;
	min-height: 57px;
	margin-top: 382px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1032px;
}

