.version.contactenos /* version checker */
{
	color: #000013;
	background-color: #6D7D59;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 640px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
	width: 0.01px;
}

#pu24622
{
	width: 0.01px;
	margin-left: -100px;
}

#menuu36062
{
	z-index: 31;
	width: 630px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 377px;
}

#u36070
{
	width: 57px;
	min-height: 61px;
	margin-right: -10000px;
}

#u36071
{
	width: 57px;
	padding-bottom: 44px;
}

#u36071:hover
{
	width: 57px;
	min-height: 0px;
	margin: 0px;
}

#u36071:active
{
	width: 57px;
	min-height: 0px;
	margin: 0px;
}

#u36071.MuseMenuActive
{
	width: 57px;
	min-height: 0px;
	margin: 0px;
}

#u36073-4
{
	width: 44px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36071:hover #u36073-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u36071:active #u36073-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u36071.MuseMenuActive #u36073-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u36189
{
	width: 93px;
	min-height: 61px;
	margin-right: -10000px;
	left: 59px;
}

#u36192
{
	width: 93px;
	padding-bottom: 44px;
}

#u36192:hover
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u36192:active
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u36192.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u36193-4
{
	width: 80px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36192:hover #u36193-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u36192:active #u36193-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u36192.MuseMenuActive #u36193-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u36133
{
	width: 162px;
	min-height: 61px;
	margin-right: -10000px;
	left: 154px;
}

#u36134
{
	width: 162px;
	padding-bottom: 44px;
}

#u36134:hover
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u36134:active
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u36134.MuseMenuActive
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u36135-4
{
	width: 136px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36134:hover #u36135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u36134:active #u36135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u36134.MuseMenuActive #u36135-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u36137
{
	z-index: 50;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 23px;
	left: 142px;
}

#u36134:hover #u36137
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36134:active #u36137
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36138
{
	width: 150px;
	top: 61px;
}

#u36185
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36185:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36187-4
{
	width: 60px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 40px;
}

#u36185:hover #u36187-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u36185.MuseMenuActive #u36187-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u36157
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36185.MuseMenuActive,#u36157:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36159-4
{
	width: 96px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 22px;
}

#u36157:hover #u36159-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u36157.MuseMenuActive #u36159-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u36176
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36157.MuseMenuActive,#u36176:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36177-4
{
	width: 89px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 25px;
}

#u36176:hover #u36177-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u36176.MuseMenuActive #u36177-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u36162
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36176.MuseMenuActive,#u36162:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36164-4
{
	width: 69px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 35px;
}

#u36162:hover #u36164-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u36162.MuseMenuActive #u36164-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u36143
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36162.MuseMenuActive,#u36143:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36146-4
{
	width: 95px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 22px;
}

#u36143:hover #u36146-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u36143.MuseMenuActive #u36146-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u36150
{
	width: 150px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u36150:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36150.MuseMenuActive
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36153-4
{
	width: 120px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 11px;
}

#u36150:hover #u36153-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u36150.MuseMenuActive #u36153-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u36139,#u36182,#u36154,#u36175,#u36161,#u36140,#u36147,#u36168
{
	width: 150px;
}

#u36169
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36143.MuseMenuActive,#u36169:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36169.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36172-4
{
	width: 68px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 36px;
}

#u36169:hover #u36172-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u36169.MuseMenuActive #u36172-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u36077
{
	width: 187px;
	min-height: 61px;
	margin-right: -10000px;
	left: 318px;
}

#u36129
{
	width: 187px;
	padding-bottom: 44px;
}

#u36129:hover
{
	width: 187px;
	min-height: 0px;
	margin: 0px;
}

#u36129:active
{
	width: 187px;
	min-height: 0px;
	margin: 0px;
}

#u36129.MuseMenuActive
{
	width: 187px;
	min-height: 0px;
	margin: 0px;
}

#u36131-4
{
	width: 161px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36129:hover #u36131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u36129:active #u36131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u36129.MuseMenuActive #u36131-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u36130
{
	z-index: 101;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 23px;
	left: 167px;
}

#u36134.MuseMenuActive #u36137,#u36129:hover #u36130
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36129:active #u36130
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36129.MuseMenuActive #u36130
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36078
{
	width: 177px;
	top: 61px;
}

#u36090
{
	width: 175px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u36090:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36091-4
{
	width: 58px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 54px;
}

#u36090:hover #u36091-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u36090.MuseMenuActive #u36091-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u36097
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36090.MuseMenuActive,#u36097:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36098-4
{
	width: 94px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 36px;
}

#u36097:hover #u36098-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u36097.MuseMenuActive #u36098-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u36125
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36097.MuseMenuActive,#u36125:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36127-4
{
	width: 87px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 40px;
}

#u36125:hover #u36127-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u36125.MuseMenuActive #u36127-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u36109
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36125.MuseMenuActive,#u36109:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36111-4
{
	width: 67px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 50px;
}

#u36109:hover #u36111-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u36109.MuseMenuActive #u36111-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u36116
{
	width: 177px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u36116:hover
{
	width: 177px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36116.MuseMenuActive
{
	width: 177px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36119-4
{
	width: 118px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u36116:hover #u36119-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u36116.MuseMenuActive #u36119-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u36102
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36109.MuseMenuActive,#u36102:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36103-4
{
	width: 79px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 44px;
}

#u36102:hover #u36103-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u36102.MuseMenuActive #u36103-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u36079,#u36087,#u36094,#u36122,#u36108,#u36115,#u36101,#u36080
{
	width: 177px;
}

#u36081
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36102.MuseMenuActive,#u36081:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36081.MuseMenuActive
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36083-4
{
	width: 66px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 50px;
}

#u36081:hover #u36083-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u36081.MuseMenuActive #u36083-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u36063
{
	width: 123px;
	min-height: 61px;
	margin-right: -10000px;
	left: 507px;
}

#u36064
{
	width: 123px;
	padding-bottom: 44px;
}

#u36064:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u36064:active
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u36064.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u36067-4
{
	width: 111px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36064:hover #u36067-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u36064:active #u36067-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u36064.MuseMenuActive #u36067-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u24622,#u24622-bw
{
	z-index: 2;
	min-height: 103px;
}

#u42936
{
	z-index: 158;
	min-height: 36px;
	padding-bottom: 6px;
}

#u43174
{
	z-index: 159;
	width: 32px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 926px;
}

#u43176
{
	z-index: 161;
	width: 32px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 962px;
}

#u43178
{
	z-index: 163;
	width: 30px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 998px;
}

#u43181
{
	z-index: 164;
	width: 30px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u43179
{
	z-index: 165;
	width: 16px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 8px;
}

#u42936-bw
{
	z-index: 158;
	min-height: 36px;
}

#u38626
{
	z-index: 215;
	width: 225px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 130px;
}

#u38627
{
	z-index: 216;
	width: 225px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
3px 3px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
3px 3px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-style: none;
	border-color: transparent;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/light_wool.jpg") repeat center center;
}

#u38628
{
	z-index: 217;
	width: 210px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 8px;
}

#u960-4
{
	z-index: 201;
	width: 916px;
	min-height: 37px;
	background-color: transparent;
	margin-left: 22px;
	margin-top: 16px;
	position: relative;
}

#u2648
{
	z-index: 210;
	width: 916px;
	height: 8px;
	border-style: solid;
	border-color: #BABABA;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	margin-left: 22px;
	margin-top: 3px;
	position: relative;
	border-width: 1px 0px 0px;
	-pie-background: rgba(255,255,255,0.01);
}

#ppamphletu26101
{
	width: 0.01px;
	margin-left: 14px;
	margin-top: 7px;
}

#pamphletu26101
{
	z-index: 167;
	width: 0.01px;
	height: 229px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
}

#u26117
{
	z-index: 168;
	width: 143px;
	position: relative;
	margin-right: -10000px;
	margin-top: 213px;
	left: 346px;
}

#u26119
{
	position: absolute;
	width: 60px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 3px;
	top: -3px;
	left: -9px;
}

#u26119:hover
{
	border-color: #999999;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u26119.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u26126-4
{
	z-index: 170;
	width: 44px;
	min-height: 15px;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 9px;
}

#u26119:hover #u26126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 44px;
	margin: 2px -10000px 0px 0px;
}

#u26119.PamphletThumbSelected #u26126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 44px;
	margin: 2px -10000px 0px 0px;
}

#u26119:hover #u26126-4 p,#u26119:hover #u26126-4 span
{
	color: #006323;
	visibility: inherit;
}

#u26119.PamphletThumbSelected #u26126-4 p,#u26119.PamphletThumbSelected #u26126-4 span
{
	color: #006422;
	visibility: inherit;
}

#u26118
{
	position: absolute;
	width: 82px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 2px;
	top: -3px;
	left: 61px;
}

#u26118:hover
{
	border-color: #999999;
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u26118.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u26127-4
{
	z-index: 175;
	width: 82px;
	min-height: 15px;
	background-color: transparent;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u26118:hover #u26127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 82px;
	margin: 3px -10000px 0px 0px;
}

#u26118.PamphletThumbSelected #u26127-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 82px;
	margin: 3px -10000px 0px 0px;
}

#u26118:hover #u26127-4 p,#u26118:hover #u26127-4 span,#u26118.PamphletThumbSelected #u26127-4 p,#u26118.PamphletThumbSelected #u26127-4 span
{
	color: #006323;
	visibility: inherit;
}

#u26111
{
	position: absolute;
	width: 492px;
	background-color: transparent;
}

#u26111popup
{
	z-index: 179;
}

#u26114
{
	z-index: 180;
	width: 492px;
	height: 205px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u26099
{
	z-index: 181;
	width: 464px;
	min-height: 187px;
	border-width: 2px;
	border-style: solid;
	border-color: #BDBDBD;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 13px;
}

#u26112
{
	z-index: 182;
	width: 492px;
	height: 205px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
}

#u26129
{
	z-index: 183;
	width: 462px;
	height: 185px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 15px;
	background: #FFFFFF url("../images/indicaciones.jpg") no-repeat center bottom;
	background-size: cover;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu961-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 8px;
}

#u961-4
{
	z-index: 205;
	width: 468px;
	min-height: 28px;
	background-color: transparent;
	position: relative;
}

#u26128
{
	z-index: 213;
	width: 142px;
	height: 4px;
	border-style: solid;
	border-color: #BABABA;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	margin-left: 331px;
	margin-top: 213px;
	position: relative;
	border-width: 1px 0px 0px;
	-pie-background: rgba(255,255,255,0.01);
}

#u24801-17
{
	z-index: 184;
	width: 324px;
	min-height: 98px;
	background-color: transparent;
	text-align: justify;
	margin-top: 24px;
	position: relative;
}

#u24801
{
	color: #006223;
}

#u24801-3
{
	font-size: 12px;
	color: #01A7C9;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
}

#u960-2,#u26126-2,#u26127-2,#u961-2,#u24801-2,#u24801-6,#u24801-9,#u24801-12,#u24801-15
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u960-2  span,#u26126-2  span,#u26127-2  span,#u961-2  span,#u24801-2  span,#u24801-6  span,#u24801-9  span,#u24801-12  span,#u24801-15  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u26126,#u26127,#u24801-4,#u24801-7,#u24801-10,#u24801-13
{
	font-weight: 700;
}

#pu25053
{
	width: 0.01px;
	margin-top: -1px;
}

#u25053
{
	z-index: 211;
	width: 151px;
	min-height: 96px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u25055
{
	z-index: 212;
	width: 151px;
	min-height: 96px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 151px;
}

#u1049
{
	z-index: 209;
	width: 354px;
	height: 8px;
	border-style: solid;
	border-color: #BABABA;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	-webkit-transform: matrix(0,1,-1,0,182,-172);
	-ms-transform: matrix(0,1,-1,0,182,-172);
	transform: matrix(0,1,-1,0,182,-172);
	position: relative;
	margin-right: -10000px;
	margin-top: 216px;
	left: 315px;
	border-width: 1px 0px 0px;
	-pie-background: rgba(255,255,255,0.01);
}

#u36035
{
	z-index: 214;
	width: 416px;
	min-height: 468px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 509px;
}

#u35793
{
	z-index: 3;
	min-height: 59px;
	padding-bottom: 5px;
}

#u24622_align_to_page,#u42936_align_to_page,#u35793_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#pu35794-17
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 122px;
}

#u35794-17
{
	z-index: 4;
	width: 493px;
	min-height: 16px;
}

#u38342-6
{
	z-index: 152;
	width: 448px;
	min-height: 28px;
	margin-top: 4px;
}

#pu35797-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 655px;
}

#u35797-4
{
	z-index: 21;
	width: 383px;
	min-height: 16px;
}

#u35798-6
{
	z-index: 25;
	width: 326px;
	min-height: 16px;
	margin-left: 57px;
	margin-top: 2px;
}

#u35793-bw
{
	z-index: 3;
	min-height: 59px;
	margin-top: 7px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

