.version.curso_presenciales_excel_cop /* version checker */
{
	color: #000017;
	background-color: #F25B02;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 817px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu24964
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -1px;
	margin-left: -100px;
}

#u24964
{
	z-index: 2;
	min-height: 131px;
	padding-bottom: 66px;
}

#u24965-4
{
	z-index: 3;
	width: 682px;
	min-height: 58px;
	margin-right: -10000px;
	margin-top: 73px;
	left: 122px;
}

#u24964-bw
{
	z-index: 2;
	min-height: 131px;
	margin-top: 104px;
}

#u24927
{
	z-index: 7;
	min-height: 103px;
}

#menuu36358
{
	z-index: 37;
	width: 630px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 377px;
}

#u36366
{
	width: 57px;
	min-height: 61px;
	margin-right: -10000px;
}

#u36367
{
	width: 57px;
	padding-bottom: 44px;
}

#u36367:hover
{
	width: 57px;
	min-height: 0px;
	margin: 0px;
}

#u36367:active
{
	width: 57px;
	min-height: 0px;
	margin: 0px;
}

#u36367.MuseMenuActive
{
	width: 57px;
	min-height: 0px;
	margin: 0px;
}

#u36369-4
{
	width: 44px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36367:hover #u36369-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u36367:active #u36369-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u36367.MuseMenuActive #u36369-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u36485
{
	width: 93px;
	min-height: 61px;
	margin-right: -10000px;
	left: 59px;
}

#u36488
{
	width: 93px;
	padding-bottom: 44px;
}

#u36488:hover
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u36488:active
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u36488.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u36489-4
{
	width: 80px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36488:hover #u36489-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u36488:active #u36489-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u36488.MuseMenuActive #u36489-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u36429
{
	width: 162px;
	min-height: 61px;
	margin-right: -10000px;
	left: 154px;
}

#u36430
{
	width: 162px;
	padding-bottom: 44px;
}

#u36430:hover
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u36430:active
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u36430.MuseMenuActive
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u36431-4
{
	width: 136px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36430:hover #u36431-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u36430:active #u36431-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u36430.MuseMenuActive #u36431-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u36433
{
	z-index: 56;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 23px;
	left: 142px;
}

#u36430:hover #u36433
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36430:active #u36433
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36434
{
	width: 150px;
	top: 61px;
}

#u36481
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36481:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36483-4
{
	width: 60px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 40px;
}

#u36481:hover #u36483-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u36481.MuseMenuActive #u36483-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u36453
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36481.MuseMenuActive,#u36453:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36455-4
{
	width: 96px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 22px;
}

#u36453:hover #u36455-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u36453.MuseMenuActive #u36455-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u36472
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36453.MuseMenuActive,#u36472:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36473-4
{
	width: 89px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 25px;
}

#u36472:hover #u36473-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u36472.MuseMenuActive #u36473-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u36458
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36472.MuseMenuActive,#u36458:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36460-4
{
	width: 69px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 35px;
}

#u36458:hover #u36460-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u36458.MuseMenuActive #u36460-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u36439
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36458.MuseMenuActive,#u36439:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36442-4
{
	width: 95px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 22px;
}

#u36439:hover #u36442-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u36439.MuseMenuActive #u36442-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u36446
{
	width: 150px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u36446:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36446.MuseMenuActive
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36449-4
{
	width: 120px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 11px;
}

#u36446:hover #u36449-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u36446.MuseMenuActive #u36449-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u36435,#u36478,#u36450,#u36471,#u36457,#u36436,#u36443,#u36464
{
	width: 150px;
}

#u36465
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36439.MuseMenuActive,#u36465:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36465.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36468-4
{
	width: 68px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 36px;
}

#u36465:hover #u36468-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u36465.MuseMenuActive #u36468-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u36373
{
	width: 187px;
	min-height: 61px;
	margin-right: -10000px;
	left: 318px;
}

#u36425
{
	width: 187px;
	padding-bottom: 44px;
}

#u36425:hover
{
	width: 187px;
	min-height: 0px;
	margin: 0px;
}

#u36425:active
{
	width: 187px;
	min-height: 0px;
	margin: 0px;
}

#u36425.MuseMenuActive
{
	width: 187px;
	min-height: 0px;
	margin: 0px;
}

#u36427-4
{
	width: 161px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36425:hover #u36427-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u36425:active #u36427-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u36425.MuseMenuActive #u36427-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u36426
{
	z-index: 107;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 23px;
	left: 167px;
}

#u36430.MuseMenuActive #u36433,#u36425:hover #u36426
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36425:active #u36426
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36425.MuseMenuActive #u36426
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36374
{
	width: 177px;
	top: 61px;
}

#u36386
{
	width: 175px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u36386:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36387-4
{
	width: 58px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 54px;
}

#u36386:hover #u36387-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u36386.MuseMenuActive #u36387-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u36393
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36386.MuseMenuActive,#u36393:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36394-4
{
	width: 94px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 36px;
}

#u36393:hover #u36394-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u36393.MuseMenuActive #u36394-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u36421
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36393.MuseMenuActive,#u36421:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36423-4
{
	width: 87px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 40px;
}

#u36421:hover #u36423-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u36421.MuseMenuActive #u36423-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u36405
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36421.MuseMenuActive,#u36405:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36407-4
{
	width: 67px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 50px;
}

#u36405:hover #u36407-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u36405.MuseMenuActive #u36407-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u36412
{
	width: 177px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u36412:hover
{
	width: 177px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36412.MuseMenuActive
{
	width: 177px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36415-4
{
	width: 118px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u36412:hover #u36415-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u36412.MuseMenuActive #u36415-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u36398
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36405.MuseMenuActive,#u36398:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36399-4
{
	width: 79px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 44px;
}

#u36398:hover #u36399-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u36398.MuseMenuActive #u36399-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u36375,#u36383,#u36390,#u36418,#u36404,#u36411,#u36397,#u36376
{
	width: 177px;
}

#u36377
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36398.MuseMenuActive,#u36377:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36377.MuseMenuActive
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36379-4
{
	width: 66px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 50px;
}

#u36377:hover #u36379-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u36377.MuseMenuActive #u36379-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u36359
{
	width: 123px;
	min-height: 61px;
	margin-right: -10000px;
	left: 507px;
}

#u36360
{
	width: 123px;
	padding-bottom: 44px;
}

#u36360:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u36360:active
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u36360.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u36363-4
{
	width: 111px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36360:hover #u36363-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u36360:active #u36363-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u36360.MuseMenuActive #u36363-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u24927-bw
{
	z-index: 7;
	min-height: 103px;
	margin-top: 1px;
}

#u42986
{
	z-index: 164;
	min-height: 36px;
	padding-bottom: 6px;
}

#u43196
{
	z-index: 169;
	width: 32px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 926px;
}

#u43198
{
	z-index: 171;
	width: 32px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 962px;
}

#u43200
{
	z-index: 173;
	width: 30px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 998px;
}

#u43203
{
	z-index: 174;
	width: 30px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u43201
{
	z-index: 175;
	width: 16px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 8px;
}

#u42986-bw
{
	z-index: 164;
	min-height: 36px;
	margin-top: 1px;
}

#u38605
{
	z-index: 165;
	width: 225px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 130px;
}

#u38606
{
	z-index: 166;
	width: 225px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u38607
{
	z-index: 167;
	width: 210px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 8px;
}

#u40439-27
{
	z-index: 178;
	width: 916px;
	min-height: 279px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 373px;
	left: 122px;
}

#u40439-3
{
	font-size: 20px;
	text-align: justify;
	color: #3E3E3E;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u40440
{
	float: left;
	margin-right: 20px;
}

#u40441
{
	z-index: 183;
	width: 285px;
	height: 208px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background: #FFFFFF url("../images/2013-04-27%20081404-u1223-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u40439-8,#u40439-11,#u40439-14,#u40439-17,#u40439-20
{
	font-weight: 700;
}

#u40439-7,#u40439-23
{
	text-align: justify;
}

#u40446-4
{
	z-index: 207;
	width: 916px;
	min-height: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 318px;
	left: 122px;
}

#u40473-4
{
	z-index: 211;
	width: 916px;
	min-height: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 664px;
	left: 122px;
}

#u40832
{
	z-index: 215;
	width: 916px;
	height: 8px;
	border-style: solid;
	border-color: #BABABA;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	margin-right: -10000px;
	margin-top: 701px;
	left: 122px;
	border-width: 1px 0px 0px;
	-pie-background: rgba(255,255,255,0.01);
}

#u40815-11
{
	z-index: 216;
	width: 238px;
	min-height: 230px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 740px;
	left: 800px;
}

#u40815-2
{
	font-size: 18px;
	color: #006422;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
}

#u40439-4,#u40815-3
{
	font-size: 16px;
	color: #3E3E3E;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u40815-7
{
	font-size: 12px;
	text-align: justify;
	color: #3E3E3E;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u40815-4
{
	font-size: 1px;
	line-height: 0px;
}

#u40816
{
	margin-bottom: 6px;
}

#u40817
{
	z-index: 225;
	width: 232px;
	height: 128px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#u40439-6,#u40439-10,#u40439-13,#u40439-16,#u40439-19,#u40439-22,#u40439-25,#u40815-9
{
	text-align: justify;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#slideshowu40576
{
	z-index: 229;
	width: 0.01px;
	height: 121px;
	position: relative;
	margin-right: -10000px;
	margin-top: 790px;
	left: 811px;
}

#u40578
{
	position: absolute;
	width: 220px;
	height: 121px;
	background-color: transparent;
}

#u40578popup
{
	z-index: 230;
}

#u40595
{
	z-index: 231;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40649
{
	z-index: 233;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40649_img
{
	padding-left: 35px;
	padding-right: 34px;
}

#u40631
{
	z-index: 235;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40641
{
	z-index: 237;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40643
{
	z-index: 239;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40643_img
{
	padding-left: 36px;
	padding-right: 37px;
}

#u40647
{
	z-index: 241;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40647_img
{
	padding-left: 13px;
	padding-right: 14px;
}

#u40621
{
	z-index: 243;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40621_img
{
	padding: 29px 8px 30px 9px;
}

#u40613
{
	z-index: 245;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40613_img
{
	padding: 27px 8px 28px 9px;
}

#u40589
{
	z-index: 247;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40589_img
{
	padding: 41px 8px 41px 9px;
}

#u40611
{
	z-index: 249;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40611_img
{
	margin: -5px 13px -5px 14px;
}

#u40605
{
	z-index: 251;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40605_img
{
	padding: 10px 8px 10px 9px;
}

#u40639
{
	z-index: 253;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40639_img
{
	padding-left: 28px;
	padding-right: 27px;
}

#u40617
{
	z-index: 255;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40617_img
{
	padding-left: 27px;
	padding-right: 26px;
}

#u40651
{
	z-index: 257;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40637
{
	z-index: 259;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40637_img
{
	padding: 30px 8px 29px 9px;
}

#u40609
{
	z-index: 261;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40619
{
	z-index: 263;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40619_img
{
	padding-left: 15px;
	padding-right: 15px;
}

#u40659
{
	z-index: 265;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40659_img
{
	padding: 39px 8px 38px 9px;
}

#u40587
{
	z-index: 267;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40641_img,#u40587_img
{
	padding: 2px 8px 2px 9px;
}

#u40661
{
	z-index: 269;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40633
{
	z-index: 271;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40633_img
{
	padding: 20px 8px 19px 9px;
}

#u40585
{
	z-index: 273;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40631_img,#u40585_img
{
	padding-left: 26px;
	padding-right: 25px;
}

#u40607
{
	z-index: 275;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40607_img
{
	padding-left: 54px;
	padding-right: 53px;
}

#u40625
{
	z-index: 277;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40625_img
{
	padding-left: 23px;
	padding-right: 23px;
}

#u40593
{
	z-index: 279;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40629
{
	z-index: 281;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40629_img
{
	padding-left: 17px;
	padding-right: 17px;
}

#u40603
{
	z-index: 283;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40603_img
{
	padding: 18px 9px 17px;
}

#u40601
{
	z-index: 285;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40601_img
{
	padding: 40px 9px 39px;
}

#u40623
{
	z-index: 287;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40623_img
{
	padding: 9px 8px 9px 9px;
}

#u40653
{
	z-index: 289;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40653_img
{
	padding: 18px 8px 18px 9px;
}

#u40581
{
	z-index: 291;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40581_img
{
	padding-left: 13px;
	padding-right: 13px;
}

#u40657
{
	z-index: 293;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40657_img
{
	padding: 36px 10px 36px 9px;
}

#u40599
{
	z-index: 295;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40599_img
{
	padding-left: 18px;
	padding-right: 18px;
}

#u40627
{
	z-index: 297;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40627_img
{
	padding: 22px 8px 22px 9px;
}

#u40615
{
	z-index: 299;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40615_img
{
	padding: 33px 10px 32px 9px;
}

#u40645
{
	z-index: 301;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40645_img
{
	padding: 4px 8px 3px 9px;
}

#u40597
{
	z-index: 303;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40597_img
{
	padding: 36px 35px;
}

#u40655
{
	z-index: 305;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40655_img
{
	padding-left: 30px;
	padding-top: 1px;
	padding-right: 30px;
}

#u40591
{
	z-index: 307;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40591_img
{
	padding-left: 24px;
	padding-right: 23px;
}

#u40583
{
	z-index: 309;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40583_img
{
	padding: 21px 8px 21px 9px;
}

#u40635
{
	z-index: 311;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40611_clip,#u40635_clip
{
	overflow: hidden;
	width: 220px;
	height: 121px;
}

#u40635_img
{
	margin: -5px 45px -5px 44px;
}

#u40579
{
	z-index: 313;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u40651_img,#u40609_img,#u40661_img,#u40593_img,#u40579_img
{
	padding-left: 50px;
	padding-right: 49px;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u42221
{
	z-index: 315;
	min-height: 1027px;
	border-style: none;
	border-color: transparent;
	background-color: #3F3F3F;
	background-color: rgba(0,0,0,0.75);
	-pie-background: rgba(0,0,0,0.75);
}

#u42221_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u42223
{
	z-index: 317;
	width: 313px;
	height: 1028px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	-pie-background: rgba(255,255,255,0.01);
}

#u42222
{
	z-index: 316;
	width: 543px;
	-pie-box-shadow: 2px 8px 8px #7F7F7F;
	box-shadow: 2px 8px 8px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 313px;
	padding: 28px 23px 22.40000000000009px;
	background: #FFFFFF url("../images/popupgray.jpg") repeat left top;
}

#u42229
{
	z-index: 320;
	width: 541px;
	background: -webkit-gradient(linear, left center, right center, from(#015B01),color-stop(100%, #039E03));
	background: -webkit-linear-gradient(left,#015B01 ,#039E03 100%);
	background: linear-gradient(to right,#015B01 ,#039E03 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF015B01, endColorstr=#FF039E03, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF015B01', endColorstr='#FF039E03', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	position: relative;
}

#u42670
{
	z-index: 369;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: 4px;
}

#u42228-4
{
	z-index: 321;
	width: 462px;
	min-height: 23px;
	background-color: transparent;
	text-align: left;
	line-height: 1.18;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 78px;
}

#u42228
{
	font-size: 18px;
	color: #FFFFFF;
}

#u42224
{
	z-index: 318;
	width: 541px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.71);
	padding-bottom: 17px;
	margin-top: 9px;
	position: relative;
	-pie-background: rgba(255,255,255,0.71);
}

#pu42241-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 25px;
}

#u42241-4
{
	z-index: 355;
	width: 262px;
	min-height: 21px;
	background-color: transparent;
	text-align: justify;
	margin-left: 2px;
	position: relative;
}

#u42235
{
	z-index: 336;
	width: 246px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 7px;
	position: relative;
}

#pu42240
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 6px;
}

#u42240
{
	z-index: 351;
	width: 10px;
	height: 9px;
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0C6223;
	background-color: #0C6223;
	border-radius: 70px;
	position: relative;
}

#u42238
{
	z-index: 352;
	width: 10px;
	height: 9px;
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0C6223;
	background-color: #0C6223;
	border-radius: 70px;
	margin-top: 10px;
	position: relative;
}

#u42237
{
	z-index: 353;
	width: 10px;
	height: 9px;
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0C6223;
	background-color: #0C6223;
	border-radius: 70px;
	margin-top: 7px;
	position: relative;
}

#u42239
{
	z-index: 354;
	width: 10px;
	height: 9px;
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0C6223;
	background-color: #0C6223;
	border-radius: 70px;
	margin-top: 8px;
	position: relative;
}

#u42240::before,#u42238::before,#u42237::before,#u42239::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 70px;
	box-shadow: inset 1px 1px 2px rgba(255,255,255,0.75), inset -1px -1px 2px rgba(0,0,0,0.75);
}

#u42236-14
{
	z-index: 337;
	width: 226px;
	min-height: 82px;
	background-color: transparent;
	text-align: left;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 20px;
}

#u42236-3,#u42236-6,#u42236-9,#u42236-12
{
	padding-top: 3px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u42236,#u42236-4,#u42236-7,#u42236-10
{
	font-size: 13px;
}

#u42242-4
{
	z-index: 359;
	width: 264px;
	min-height: 21px;
	background-color: transparent;
	text-align: justify;
	margin-top: 33px;
	position: relative;
}

#u42241,#u42242
{
	font-size: 14px;
	color: #015B01;
}

#u42677
{
	z-index: 378;
	width: 5px;
	height: 302px;
	border-style: solid;
	border-color: #D7D7D7;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 296px;
	border-width: 0px 0px 0px 1px;
}

#pu42225
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 32px;
	margin-left: 309px;
}

#u42225
{
	z-index: 319;
	width: 232px;
	min-height: 164px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u42676-7
{
	z-index: 371;
	width: 208px;
	min-height: 136px;
	background-color: transparent;
	color: #3E3E3E;
	font-size: 9px;
	margin-top: 3px;
	position: relative;
}

#u42676-2
{
	font-weight: bold;
}

#u42221-bw
{
	z-index: 315;
	min-height: 1027px;
	margin-top: 1px;
}

#u42669-4
{
	z-index: 325;
	width: 462px;
	min-height: 23px;
	background-color: transparent;
	text-align: left;
	line-height: 1.18;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 416px;
}

#u42228-2  span,#u42669-2  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.18;
}

#u42669
{
	font-size: 13px;
	color: #FFFFFF;
}

#u42230
{
	z-index: 329;
	width: 589px;
	height: 499px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	margin-right: -10000px;
	margin-top: 529px;
	left: 313px;
	-pie-background: rgba(255,255,255,0.01);
}

#u42231
{
	z-index: 330;
	width: 258px;
	height: 1028px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	margin-right: -10000px;
	left: 902px;
	-pie-background: rgba(255,255,255,0.01);
}

#u42233
{
	z-index: 331;
	width: 32px;
	-pie-box-shadow: 2px 2px 6px #7F7F7F;
	box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FD1818;
	border-radius: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 885px;
}

#u42234-4
{
	z-index: 332;
	width: 26px;
	min-height: 35px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -3px;
	left: 3px;
}

#u42427
{
	z-index: 363;
	width: 589px;
	height: 51px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 313px;
	-pie-background: rgba(255,255,255,0.01);
}

#u42261-5
{
	z-index: 364;
	width: 264px;
	min-height: 21px;
	background-color: transparent;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
	left: 363px;
}

#u40446-2,#u40473-2,#u42228-2,#u42669-2,#u42261-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u40439-6  span,#u40439-10  span,#u40439-13  span,#u40439-16  span,#u40439-19  span,#u40439-22  span,#u40439-25  span,#u40446-2  span,#u40473-2  span,#u40815-9  span,#u42236-3  span,#u42236-3  a,#u42236-6  span,#u42236-6  a,#u42236-9  span,#u42236-9  a,#u42236-12  span,#u42236-12  a,#u42261-3  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u42261
{
	font-size: 15px;
	color: #015B01;
}

#u42261-2
{
	font-size: 10px;
	color: #015B01;
}

#u42678
{
	z-index: 379;
	width: 5px;
	height: 251px;
	border-style: solid;
	border-color: #D7D7D7;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,129,122);
	-ms-transform: matrix(0,1,-1,0,129,122);
	transform: matrix(0,1,-1,0,129,122);
	position: relative;
	margin-right: -10000px;
	margin-top: 185px;
	left: 487px;
	border-width: 0px 0px 0px 1px;
}

#pamphletu42243
{
	z-index: 380;
	width: 0.01px;
	height: 286px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
	left: 363px;
}

#u42250
{
	position: absolute;
	width: 209px;
	left: 283px;
}

#u42250popup
{
	z-index: 381;
}

#u42251
{
	z-index: 382;
	width: 209px;
	height: 289px;
	position: relative;
	margin-right: -10000px;
	background: #2E2929 url("../images/libro-excelintermediol.png") no-repeat left top;
	background-size: cover;
}

.LibrosEbookPopup
{
	border-style: none;
	-pie-box-shadow: 5px 5px 10px #B5B5B5;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.29);
	border-color: transparent;
	border-radius: 0px 0px 10px 10px ;
	background: #2E2929 url("../images/excelavanzado.jpg") no-repeat left top;
	background-size: cover;
}

#u42252
{
	z-index: 383;
	width: 209px;
	height: 289px;
	position: relative;
	margin-right: -10000px;
	background: #2E2929 url("../images/libro-excel-avanzado.png") no-repeat left top;
	background-size: cover;
}

#u42253
{
	z-index: 384;
	width: 209px;
	height: 289px;
	position: relative;
	margin-right: -10000px;
	background: #2E2929 url("../images/libro-excel-financiero-ieu42253-fr.png") no-repeat left top;
	background: rgba(0,0,0,0) url("../images/libro-excel-financiero.png") no-repeat left top;
	background-color: #2E2929;
	background-size: cover;
}

#u42256
{
	z-index: 385;
	width: 257px;
	position: relative;
	margin-right: -10000px;
	margin-top: 174px;
}

#u42258
{
	position: absolute;
	width: 81px;
	height: 112px;
	border-style: none;
	border-color: transparent;
	background: #C4C4C4 url("../images/libro-excelintermediol-u42258-fr.png") no-repeat center center;
	background-size: cover;
}

#u42258:hover
{
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	width: 81px;
	height: 112px;
	min-height: 0px;
	margin: 0px;
	background: #999999 url("../images/libro-excelintermediol-u42258-fr.png") no-repeat center center;
	background-size: cover;
}

#u42258.PamphletThumbSelected
{
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	border-radius: 0px;
	width: 81px;
	height: 112px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/libro-excelintermediol-u42258-fr.png") no-repeat center center;
	background-size: cover;
}

#u42259
{
	position: absolute;
	width: 81px;
	height: 112px;
	left: 87px;
	background: #FFFFFF url("../images/libro-excel-avanzado-u42259-fr.png") no-repeat center center;
	background-size: cover;
}

#u42259:hover
{
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-color: #000000;
	width: 81px;
	height: 112px;
	min-height: 0px;
	margin: 0px;
	background: #999999 url("../images/libro-excel-avanzado-u42259-fr.png") no-repeat center center;
	background-size: cover;
}

#u42259.PamphletThumbSelected
{
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	border-radius: 0px;
	width: 81px;
	height: 112px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/libro-excel-avanzado-u42259-fr.png") no-repeat center center;
	background-size: cover;
}

#u42257
{
	position: absolute;
	width: 81px;
	height: 112px;
	left: 176px;
	background: #C4C4C4 url("../images/libro-excel-financiero-u42257-fr.png") no-repeat center center;
	background-size: cover;
}

#u42257:hover
{
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-color: #000000;
	width: 81px;
	height: 112px;
	min-height: 0px;
	margin: 0px;
	background: #999999 url("../images/libro-excel-financiero-u42257-fr.png") no-repeat center center;
	background-size: cover;
}

#u42257.PamphletThumbSelected
{
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	border-radius: 0px;
	width: 81px;
	height: 112px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/libro-excel-financiero-u42257-fr.png") no-repeat center center;
	background-size: cover;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#pu24959
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1033px;
	margin-left: -100px;
}

#u24959
{
	z-index: 8;
	min-height: 369px;
	padding-bottom: 77px;
}

#u43240
{
	z-index: 177;
	width: 916px;
	min-height: 345px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 122px;
}

#u24959-bw
{
	z-index: 8;
	min-height: 369px;
}

#u35805
{
	z-index: 9;
	min-height: 57px;
	padding-bottom: 7px;
}

#u24964_align_to_page,#u24927_align_to_page,#u42986_align_to_page,#u24959_align_to_page,#u35805_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#pu35806-17
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 122px;
}

#u35806-17
{
	z-index: 10;
	width: 493px;
	min-height: 16px;
}

#u38344-6
{
	z-index: 158;
	width: 448px;
	min-height: 28px;
	margin-top: 2px;
}

#pu35809-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 655px;
}

#u35809-4
{
	z-index: 27;
	width: 383px;
	min-height: 16px;
}

#u35810-6
{
	z-index: 31;
	width: 326px;
	min-height: 16px;
	margin-left: 57px;
	margin-top: 2px;
}

#u35805-bw
{
	z-index: 9;
	min-height: 57px;
	margin-top: 382px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1032px;
}

