.version.cursos_presenciales_horarios /* version checker */
{
	color: #0000FD;
	background-color: #D51982;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1887px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -2px;
	width: 0.01px;
}

#pu25671
{
	width: 0.01px;
	margin-left: -100px;
}

#u25671
{
	z-index: 2;
	min-height: 197px;
}

#u25671_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 73px;
	padding-bottom: 32px;
}

#u25675-4
{
	z-index: 3;
	width: 682px;
	min-height: 58px;
	left: 122px;
}

#u25595-6
{
	z-index: 177;
	width: 916px;
	min-height: 31px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 20px;
	font-family: asap, sans-serif;
	font-weight: 400;
	left: 122px;
	margin-top: 3px;
	position: relative;
}

#u44259
{
	margin-top: 5px;
	margin-bottom: -5px;
}

#u44257
{
	z-index: 183;
	width: 52px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 20px;
	font-family: asap, sans-serif;
	font-weight: 400;
}

#u25671-bw
{
	z-index: 2;
	min-height: 197px;
	margin-top: 103px;
}

#menuu36506
{
	z-index: 36;
	width: 630px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 377px;
}

#u36514
{
	width: 57px;
	min-height: 61px;
	margin-right: -10000px;
}

#u36515
{
	width: 57px;
	padding-bottom: 44px;
}

#u36515:hover
{
	width: 57px;
	min-height: 0px;
	margin: 0px;
}

#u36515:active
{
	width: 57px;
	min-height: 0px;
	margin: 0px;
}

#u36515.MuseMenuActive
{
	width: 57px;
	min-height: 0px;
	margin: 0px;
}

#u36517-4
{
	width: 44px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36515:hover #u36517-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u36515:active #u36517-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u36515.MuseMenuActive #u36517-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u36633
{
	width: 93px;
	min-height: 61px;
	margin-right: -10000px;
	left: 59px;
}

#u36636
{
	width: 93px;
	padding-bottom: 44px;
}

#u36636:hover
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u36636:active
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u36636.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u36637-4
{
	width: 80px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36636:hover #u36637-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u36636:active #u36637-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u36636.MuseMenuActive #u36637-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u36577
{
	width: 162px;
	min-height: 61px;
	margin-right: -10000px;
	left: 154px;
}

#u36578
{
	width: 162px;
	padding-bottom: 44px;
}

#u36578:hover
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u36578:active
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u36578.MuseMenuActive
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u36579-4
{
	width: 136px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36578:hover #u36579-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u36578:active #u36579-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u36578.MuseMenuActive #u36579-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u36581
{
	z-index: 55;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 23px;
	left: 142px;
}

#u36578:hover #u36581
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36578:active #u36581
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36582
{
	width: 150px;
	top: 61px;
}

#u36629
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36629:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36631-4
{
	width: 60px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 40px;
}

#u36629:hover #u36631-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u36629.MuseMenuActive #u36631-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u36601
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36629.MuseMenuActive,#u36601:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36603-4
{
	width: 96px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 22px;
}

#u36601:hover #u36603-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u36601.MuseMenuActive #u36603-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u36620
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36601.MuseMenuActive,#u36620:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36621-4
{
	width: 89px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 25px;
}

#u36620:hover #u36621-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u36620.MuseMenuActive #u36621-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u36606
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36620.MuseMenuActive,#u36606:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36608-4
{
	width: 69px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 35px;
}

#u36606:hover #u36608-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u36606.MuseMenuActive #u36608-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u36587
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36606.MuseMenuActive,#u36587:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36590-4
{
	width: 95px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 22px;
}

#u36587:hover #u36590-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u36587.MuseMenuActive #u36590-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u36594
{
	width: 150px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u36594:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36594.MuseMenuActive
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36597-4
{
	width: 120px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 11px;
}

#u36594:hover #u36597-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u36594.MuseMenuActive #u36597-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u36583,#u36626,#u36598,#u36619,#u36605,#u36584,#u36591,#u36612
{
	width: 150px;
}

#u36613
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36587.MuseMenuActive,#u36613:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36613.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36616-4
{
	width: 68px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 36px;
}

#u36613:hover #u36616-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u36613.MuseMenuActive #u36616-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u36521
{
	width: 187px;
	min-height: 61px;
	margin-right: -10000px;
	left: 318px;
}

#u36573
{
	width: 187px;
	padding-bottom: 44px;
}

#u36573:hover
{
	width: 187px;
	min-height: 0px;
	margin: 0px;
}

#u36573:active
{
	width: 187px;
	min-height: 0px;
	margin: 0px;
}

#u36573.MuseMenuActive
{
	width: 187px;
	min-height: 0px;
	margin: 0px;
}

#u36575-4
{
	width: 161px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36573:hover #u36575-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u36573:active #u36575-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u36573.MuseMenuActive #u36575-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u36574
{
	z-index: 106;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 23px;
	left: 167px;
}

#u36578.MuseMenuActive #u36581,#u36573:hover #u36574
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36573:active #u36574
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36573.MuseMenuActive #u36574
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36522
{
	width: 177px;
	top: 61px;
}

#u36534
{
	width: 175px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u36534:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36535-4
{
	width: 58px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 54px;
}

#u36534:hover #u36535-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u36534.MuseMenuActive #u36535-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u36541
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36534.MuseMenuActive,#u36541:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36542-4
{
	width: 94px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 36px;
}

#u36541:hover #u36542-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u36541.MuseMenuActive #u36542-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u36569
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36541.MuseMenuActive,#u36569:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36571-4
{
	width: 87px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 40px;
}

#u36569:hover #u36571-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u36569.MuseMenuActive #u36571-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u36553
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36569.MuseMenuActive,#u36553:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36555-4
{
	width: 67px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 50px;
}

#u36553:hover #u36555-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u36553.MuseMenuActive #u36555-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u36560
{
	width: 177px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u36560:hover
{
	width: 177px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36560.MuseMenuActive
{
	width: 177px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36563-4
{
	width: 118px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u36560:hover #u36563-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u36560.MuseMenuActive #u36563-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u36546
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36553.MuseMenuActive,#u36546:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36547-4
{
	width: 79px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 44px;
}

#u36546:hover #u36547-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u36546.MuseMenuActive #u36547-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u36523,#u36531,#u36538,#u36566,#u36552,#u36559,#u36545,#u36524
{
	width: 177px;
}

#u36525
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36546.MuseMenuActive,#u36525:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36525.MuseMenuActive
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36527-4
{
	width: 66px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 50px;
}

#u36525:hover #u36527-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u36525.MuseMenuActive #u36527-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u36507
{
	width: 123px;
	min-height: 61px;
	margin-right: -10000px;
	left: 507px;
}

#u36508
{
	width: 123px;
	padding-bottom: 44px;
}

#u36508:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u36508:active
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u36508.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u36511-4
{
	width: 111px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36508:hover #u36511-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u36508:active #u36511-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u36508.MuseMenuActive #u36511-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u25665,#u25665-bw
{
	z-index: 7;
	min-height: 103px;
}

#u43036
{
	z-index: 163;
	min-height: 36px;
	padding-bottom: 6px;
}

#u43218
{
	z-index: 168;
	width: 32px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 926px;
}

#u43220
{
	z-index: 170;
	width: 32px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 962px;
}

#u43222
{
	z-index: 172;
	width: 30px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 998px;
}

#u43225
{
	z-index: 173;
	width: 30px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u43223
{
	z-index: 174;
	width: 16px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 8px;
}

#u43036-bw
{
	z-index: 163;
	min-height: 36px;
}

#u38618
{
	z-index: 164;
	width: 225px;
	margin-right: -10000px;
	left: 130px;
}

#u38619
{
	z-index: 165;
	width: 225px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u38620
{
	z-index: 166;
	width: 210px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 8px;
}

#horarioa
{
	left: -100px;
	margin-top: 23px;
	position: relative;
}

#u29523-4
{
	z-index: 190;
	width: 916px;
	min-height: 37px;
	background-color: transparent;
	margin-left: 22px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u29521
{
	z-index: 194;
	width: 916px;
	height: 8px;
	border-style: solid;
	border-color: #BABABA;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	margin-left: 22px;
	margin-top: 1px;
	position: relative;
	border-width: 1px 0px 0px;
	-pie-background: rgba(255,255,255,0.01);
}

#u34858-4
{
	z-index: 203;
	width: 487px;
	min-height: 26px;
	background-color: transparent;
	margin-left: 22px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u43231
{
	z-index: 176;
	width: 717px;
	min-height: 379px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 120px;
	margin-top: 20px;
	position: relative;
}

#horariob
{
	left: -100px;
	margin-top: 29px;
	position: relative;
}

#u25625-4
{
	z-index: 185;
	width: 916px;
	min-height: 37px;
	background-color: transparent;
	margin-left: 22px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#u25626
{
	z-index: 189;
	width: 916px;
	height: 8px;
	border-style: solid;
	border-color: #BABABA;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	margin-left: 22px;
	position: relative;
	border-width: 1px 0px 0px;
	-pie-background: rgba(255,255,255,0.01);
}

#u34863-4
{
	z-index: 207;
	width: 487px;
	min-height: 26px;
	background-color: transparent;
	margin-left: 22px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#u43233
{
	z-index: 215;
	width: 717px;
	min-height: 379px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 120px;
	margin-top: 18px;
	position: relative;
}

#phorarioc
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 5px;
}

#horarioc
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u25633-4
{
	z-index: 195;
	width: 916px;
	min-height: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 122px;
}

#u25632
{
	z-index: 199;
	width: 916px;
	height: 8px;
	border-style: solid;
	border-color: #BABABA;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	margin-left: 22px;
	position: relative;
	border-width: 1px 0px 0px;
	-pie-background: rgba(255,255,255,0.01);
}

#u34864-4
{
	z-index: 211;
	width: 713px;
	min-height: 26px;
	background-color: transparent;
	margin-left: 22px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u29523-2,#u34858-2,#u25625-2,#u34863-2,#u25633-2,#u34864-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u29523-2  span,#u34858-2  span,#u25625-2  span,#u34863-2  span,#u25633-2  span,#u34864-2  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u34858,#u34863,#u34864
{
	font-size: 15px;
}

#u43235
{
	z-index: 216;
	width: 717px;
	min-height: 379px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 120px;
	margin-top: 30px;
	position: relative;
}

#u35811
{
	z-index: 8;
	min-height: 57px;
	padding-bottom: 7px;
}

#u25665_align_to_page,#u43036_align_to_page,#u35811_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#pu35812-17
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 122px;
}

#u35812-17
{
	z-index: 9;
	width: 493px;
	min-height: 16px;
}

#u38346-6
{
	z-index: 157;
	width: 448px;
	min-height: 28px;
	margin-top: 2px;
}

#pu35815-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 655px;
}

#u35815-4
{
	z-index: 26;
	width: 383px;
	min-height: 16px;
}

#u35816-6
{
	z-index: 30;
	width: 326px;
	min-height: 16px;
	margin-left: 57px;
	margin-top: 2px;
}

#u35811-bw
{
	z-index: 8;
	min-height: 57px;
	margin-top: 25px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

