.version.cursos_presenciales_capacitacion_empresarial_cop /* version checker */
{
	color: #0000F6;
	background-color: #C8851B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1034px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu36855
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -1px;
	margin-left: -100px;
}

#u36855
{
	z-index: 2;
	min-height: 126px;
	padding-bottom: 71px;
}

#u36868-4
{
	z-index: 3;
	width: 667px;
	min-height: 55px;
	margin-right: -10000px;
	margin-top: 71px;
	left: 131px;
}

#u36855-bw
{
	z-index: 2;
	min-height: 126px;
	margin-top: 104px;
}

#u36874
{
	z-index: 7;
	min-height: 103px;
}

#menuu36703
{
	z-index: 36;
	width: 630px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 377px;
}

#u36704
{
	width: 57px;
	min-height: 61px;
	margin-right: -10000px;
}

#u36707
{
	width: 57px;
	padding-bottom: 44px;
}

#u36707:hover
{
	width: 57px;
	min-height: 0px;
	margin: 0px;
}

#u36707:active
{
	width: 57px;
	min-height: 0px;
	margin: 0px;
}

#u36707.MuseMenuActive
{
	width: 57px;
	min-height: 0px;
	margin: 0px;
}

#u36710-4
{
	width: 44px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36707:hover #u36710-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u36707:active #u36710-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u36707.MuseMenuActive #u36710-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u36844
{
	width: 93px;
	min-height: 61px;
	margin-right: -10000px;
	left: 59px;
}

#u36845
{
	width: 93px;
	padding-bottom: 44px;
}

#u36845:hover
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u36845:active
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u36845.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u36847-4
{
	width: 80px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36845:hover #u36847-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u36845:active #u36847-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u36845.MuseMenuActive #u36847-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u36725
{
	width: 162px;
	min-height: 61px;
	margin-right: -10000px;
	left: 154px;
}

#u36726
{
	width: 162px;
	padding-bottom: 44px;
}

#u36726:hover
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u36726:active
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u36726.MuseMenuActive
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u36727-4
{
	width: 136px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36726:hover #u36727-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u36726:active #u36727-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u36726.MuseMenuActive #u36727-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u36729
{
	z-index: 55;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 23px;
	left: 142px;
}

#u36726:hover #u36729
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36726:active #u36729
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36730
{
	width: 150px;
	top: 61px;
}

#u36735
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36735:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36737-4
{
	width: 60px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 40px;
}

#u36735:hover #u36737-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u36735.MuseMenuActive #u36737-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u36747
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36735.MuseMenuActive,#u36747:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36749-4
{
	width: 96px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 22px;
}

#u36747:hover #u36749-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u36747.MuseMenuActive #u36749-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u36742
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36747.MuseMenuActive,#u36742:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36743-4
{
	width: 89px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 25px;
}

#u36742:hover #u36743-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u36742.MuseMenuActive #u36743-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u36768
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36742.MuseMenuActive,#u36768:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36771-4
{
	width: 69px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 35px;
}

#u36768:hover #u36771-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u36768.MuseMenuActive #u36771-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u36756
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36768.MuseMenuActive,#u36756:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36759-4
{
	width: 95px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 22px;
}

#u36756:hover #u36759-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u36756.MuseMenuActive #u36759-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u36763
{
	width: 150px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u36763:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36763.MuseMenuActive
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36766-4
{
	width: 120px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 11px;
}

#u36763:hover #u36766-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u36763.MuseMenuActive #u36766-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u36731,#u36732,#u36746,#u36739,#u36767,#u36753,#u36760,#u36774
{
	width: 150px;
}

#u36775
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36756.MuseMenuActive,#u36775:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36775.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36777-4
{
	width: 68px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 36px;
}

#u36775:hover #u36777-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u36775.MuseMenuActive #u36777-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u36788
{
	width: 187px;
	min-height: 61px;
	margin-right: -10000px;
	left: 318px;
}

#u36840
{
	width: 187px;
	padding-bottom: 44px;
}

#u36840:hover
{
	width: 187px;
	min-height: 0px;
	margin: 0px;
}

#u36840:active
{
	width: 187px;
	min-height: 0px;
	margin: 0px;
}

#u36840.MuseMenuActive
{
	width: 187px;
	min-height: 0px;
	margin: 0px;
}

#u36842-4
{
	width: 161px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36840:hover #u36842-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u36840:active #u36842-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u36840.MuseMenuActive #u36842-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u36843
{
	z-index: 106;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 23px;
	left: 167px;
}

#u36726.MuseMenuActive #u36729,#u36840:hover #u36843
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36840:active #u36843
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36840.MuseMenuActive #u36843
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36789
{
	width: 177px;
	top: 61px;
}

#u36806
{
	width: 175px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u36806:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36809-4
{
	width: 58px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 54px;
}

#u36806:hover #u36809-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u36806.MuseMenuActive #u36809-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u36836
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36806.MuseMenuActive,#u36836:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36838-4
{
	width: 94px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 36px;
}

#u36836:hover #u36838-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u36836.MuseMenuActive #u36838-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u36822
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36836.MuseMenuActive,#u36822:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36824-4
{
	width: 87px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 40px;
}

#u36822:hover #u36824-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u36822.MuseMenuActive #u36824-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u36827
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36822.MuseMenuActive,#u36827:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36829-4
{
	width: 67px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 50px;
}

#u36827:hover #u36829-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u36827.MuseMenuActive #u36829-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u36815
{
	width: 177px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u36815:hover
{
	width: 177px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36815.MuseMenuActive
{
	width: 177px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36817-4
{
	width: 118px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u36815:hover #u36817-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u36815.MuseMenuActive #u36817-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u36801
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36827.MuseMenuActive,#u36801:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36804-4
{
	width: 79px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 44px;
}

#u36801:hover #u36804-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u36801.MuseMenuActive #u36804-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u36790,#u36805,#u36833,#u36819,#u36826,#u36812,#u36798,#u36791
{
	width: 177px;
}

#u36792
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36801.MuseMenuActive,#u36792:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36792.MuseMenuActive
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36793-4
{
	width: 66px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 50px;
}

#u36792:hover #u36793-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u36792.MuseMenuActive #u36793-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u36781
{
	width: 123px;
	min-height: 61px;
	margin-right: -10000px;
	left: 507px;
}

#u36784
{
	width: 123px;
	padding-bottom: 44px;
}

#u36784:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u36784:active
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u36784.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u36785-4
{
	width: 111px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36784:hover #u36785-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u36784:active #u36785-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u36784.MuseMenuActive #u36785-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u36874-bw
{
	z-index: 7;
	min-height: 103px;
	margin-top: 1px;
}

#u43011
{
	z-index: 163;
	min-height: 36px;
	padding-bottom: 6px;
}

#capacitacionempresarial
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: -1px;
}

#u43207
{
	z-index: 168;
	width: 32px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 926px;
}

#u43209
{
	z-index: 170;
	width: 32px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 962px;
}

#u43211
{
	z-index: 172;
	width: 30px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 998px;
}

#u43214
{
	z-index: 173;
	width: 30px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u43212
{
	z-index: 174;
	width: 16px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 8px;
}

#u43011-bw
{
	z-index: 163;
	min-height: 36px;
	margin-top: 1px;
}

#u38612
{
	z-index: 164;
	width: 225px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 130px;
}

#u38613
{
	z-index: 165;
	width: 225px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u38614
{
	z-index: 166;
	width: 210px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 8px;
}

#u40966-20
{
	z-index: 176;
	width: 916px;
	min-height: 241px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 374px;
	left: 122px;
}

#u40966-3
{
	font-size: 20px;
	color: #3E3E3E;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u40967
{
	float: left;
	margin-right: 20px;
}

#u40968
{
	z-index: 181;
	width: 285px;
	height: 219px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background: #FFFFFF url("../images/id-10046950.jpg") no-repeat center center;
	background-size: cover;
}

#u40966-2
{
	font-family: comfortaa, sans-serif;
	font-weight: 700;
}

#u40966-4
{
	font-size: 16px;
	color: #3E3E3E;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u40966-6
{
	font-size: 14px;
	color: #3E3E3E;
	font-family: asap, sans-serif;
	font-weight: 700;
}

#u40966-7
{
	font-size: 16px;
	color: #3E3E3E;
	font-family: asap, sans-serif;
	font-weight: 700;
}

#u40966-8,#u40966-12,#u40966-16
{
	font-weight: 700;
}

#u40957-22
{
	z-index: 198;
	width: 916px;
	min-height: 230px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 734px;
	left: 122px;
}

#u40958
{
	float: left;
	margin-right: 10px;
}

#u40959
{
	z-index: 203;
	width: 254px;
	height: 206px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background: #FFFFFF url("../images/id-10066169.jpg") no-repeat center center;
	background-size: cover;
}

#u40966-10,#u40966-14,#u40966-18,#u40957-3,#u40957-6,#u40957-9
{
	text-align: justify;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u40966-11,#u40966-15,#u40957-7,#u40957-10
{
	text-align: justify;
}

#u40957-13,#u40957-18
{
	text-align: justify;
	text-indent: 21px;
}

#u40957-12,#u40957-15,#u40957-17,#u40957-20
{
	text-align: justify;
	text-indent: 21px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u40963-4
{
	z-index: 222;
	width: 916px;
	min-height: 37px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 318px;
	left: 122px;
}

#u40964-4
{
	z-index: 226;
	width: 916px;
	min-height: 76px;
	background-color: transparent;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 636px;
	left: 122px;
}

#u40956
{
	z-index: 230;
	width: 916px;
	height: 8px;
	border-style: solid;
	border-color: #BABABA;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	margin-right: -10000px;
	margin-top: 718px;
	left: 122px;
	border-width: 1px 0px 0px;
	-pie-background: rgba(255,255,255,0.01);
}

#u40962-4
{
	z-index: 231;
	width: 575px;
	min-height: 50px;
	background-color: transparent;
	color: #006122;
	text-align: left;
	font-size: 20px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 218px;
	left: 132px;
}

#u40960
{
	z-index: 235;
	width: 916px;
	height: 8px;
	border-style: solid;
	border-color: #BABABA;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	margin-right: -10000px;
	margin-top: 970px;
	left: 122px;
	border-width: 1px 0px 0px;
	-pie-background: rgba(255,255,255,0.01);
}

#u41081
{
	z-index: 237;
	width: 722px;
	height: 50px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	margin-right: -10000px;
	left: 219px;
	-pie-background: rgba(255,255,255,0.01);
}

#u42177
{
	z-index: 238;
	min-height: 1027px;
	border-style: none;
	border-color: transparent;
	background-color: #3F3F3F;
	background-color: rgba(0,0,0,0.75);
	-pie-background: rgba(0,0,0,0.75);
}

#u42177_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u42179
{
	z-index: 239;
	width: 313px;
	height: 1028px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	-pie-background: rgba(255,255,255,0.01);
}

#u42186
{
	z-index: 240;
	width: 589px;
	height: 470px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	margin-right: -10000px;
	margin-top: 557px;
	left: 313px;
	-pie-background: rgba(255,255,255,0.01);
}

#u42177-bw
{
	z-index: 238;
	min-height: 1027px;
	margin-top: 1px;
}

#u42187
{
	z-index: 241;
	width: 258px;
	height: 1028px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	margin-right: -10000px;
	left: 902px;
	-pie-background: rgba(255,255,255,0.01);
}

#u42428
{
	z-index: 242;
	width: 589px;
	height: 51px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 313px;
	-pie-background: rgba(255,255,255,0.01);
}

#u42432
{
	z-index: 243;
	width: 543px;
	-pie-box-shadow: 2px 8px 8px #7F7F7F;
	box-shadow: 2px 8px 8px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 313px;
	padding: 28px 23px 22.40000000000009px;
	background: #FFFFFF url("../images/popupgray.jpg") repeat left top;
}

#u42682
{
	z-index: 252;
	width: 541px;
	background: -webkit-gradient(linear, left center, right center, from(#015B01),color-stop(100%, #039E03));
	background: -webkit-linear-gradient(left,#015B01 ,#039E03 100%);
	background: linear-gradient(to right,#015B01 ,#039E03 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF015B01, endColorstr=#FF039E03, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF015B01', endColorstr='#FF039E03', GradientType=1)";
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	position: relative;
}

#u42694
{
	z-index: 293;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -4px;
	left: 4px;
}

#u42683-4
{
	z-index: 253;
	width: 462px;
	min-height: 23px;
	background-color: transparent;
	text-align: left;
	line-height: 1.18;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 78px;
}

#u42683
{
	font-size: 18px;
	color: #FFFFFF;
}

#u42679
{
	z-index: 250;
	width: 541px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.71);
	padding-bottom: 17px;
	margin-top: 9px;
	position: relative;
	-pie-background: rgba(255,255,255,0.71);
}

#pu42691-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 24px;
	margin-left: 25px;
}

#u42691-4
{
	z-index: 280;
	width: 262px;
	min-height: 21px;
	background-color: transparent;
	text-align: justify;
	margin-left: 2px;
	position: relative;
}

#u42685
{
	z-index: 261;
	width: 246px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 2px;
	margin-top: 7px;
	position: relative;
}

#pu42686
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 6px;
}

#u42686
{
	z-index: 276;
	width: 10px;
	height: 9px;
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0C6223;
	background-color: #0C6223;
	border-radius: 70px;
	position: relative;
}

#u42689
{
	z-index: 277;
	width: 10px;
	height: 9px;
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0C6223;
	background-color: #0C6223;
	border-radius: 70px;
	margin-top: 10px;
	position: relative;
}

#u42690
{
	z-index: 278;
	width: 10px;
	height: 9px;
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0C6223;
	background-color: #0C6223;
	border-radius: 70px;
	margin-top: 7px;
	position: relative;
}

#u42688
{
	z-index: 279;
	width: 10px;
	height: 9px;
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #0C6223;
	background-color: #0C6223;
	border-radius: 70px;
	margin-top: 8px;
	position: relative;
}

#u42686::before,#u42689::before,#u42690::before,#u42688::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 70px;
	box-shadow: inset 1px 1px 2px rgba(255,255,255,0.75), inset -1px -1px 2px rgba(0,0,0,0.75);
}

#u42687-14
{
	z-index: 262;
	width: 226px;
	min-height: 82px;
	background-color: transparent;
	text-align: left;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 20px;
}

#u42687-3,#u42687-6,#u42687-9,#u42687-12
{
	padding-top: 3px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u42687,#u42687-4,#u42687-7,#u42687-10
{
	font-size: 13px;
}

#u42692-4
{
	z-index: 284;
	width: 264px;
	min-height: 21px;
	background-color: transparent;
	text-align: justify;
	margin-top: 33px;
	position: relative;
}

#u42691,#u42692
{
	font-size: 14px;
	color: #015B01;
}

#u42697
{
	z-index: 302;
	width: 5px;
	height: 302px;
	border-style: solid;
	border-color: #D7D7D7;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 296px;
	border-width: 0px 0px 0px 1px;
}

#pu42680
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 32px;
	margin-left: 309px;
}

#u42680
{
	z-index: 251;
	width: 232px;
	min-height: 164px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u42696-7
{
	z-index: 295;
	width: 208px;
	min-height: 136px;
	background-color: transparent;
	color: #3E3E3E;
	font-size: 9px;
	margin-top: 3px;
	position: relative;
}

#u42696-2
{
	font-weight: bold;
}

#u42188
{
	z-index: 244;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 885px;
}

#u42189
{
	z-index: 245;
	width: 32px;
	-pie-box-shadow: 2px 2px 6px #7F7F7F;
	box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #FD1818;
	border-radius: 60px;
	position: relative;
	margin-right: -10000px;
}

#u42190-4
{
	z-index: 246;
	width: 26px;
	min-height: 35px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 28px;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u42684-4
{
	z-index: 257;
	width: 462px;
	min-height: 23px;
	background-color: transparent;
	text-align: left;
	line-height: 1.18;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 416px;
}

#u42683-2  span,#u42684-2  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.18;
}

#u42684
{
	font-size: 13px;
	color: #FFFFFF;
}

#u42693-5
{
	z-index: 288;
	width: 264px;
	min-height: 21px;
	background-color: transparent;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
	left: 363px;
}

#u40963-2,#u40964-2,#u42683-2,#u42684-2,#u42693-3
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u40966-10  span,#u40966-14  span,#u40966-18  span,#u40957-3  span,#u40957-6  span,#u40957-9  span,#u40957-12  span,#u40957-15  span,#u40957-17  span,#u40957-20  span,#u40963-2  span,#u40964-2  span,#u42687-3  span,#u42687-3  a,#u42687-6  span,#u42687-6  a,#u42687-9  span,#u42687-9  a,#u42687-12  span,#u42687-12  a,#u42693-3  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u42693
{
	font-size: 15px;
	color: #015B01;
}

#u42693-2
{
	font-size: 10px;
	color: #015B01;
}

#u42698
{
	z-index: 303;
	width: 5px;
	height: 251px;
	border-style: solid;
	border-color: #D7D7D7;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,129,122);
	-ms-transform: matrix(0,1,-1,0,129,122);
	transform: matrix(0,1,-1,0,129,122);
	position: relative;
	margin-right: -10000px;
	margin-top: 185px;
	left: 487px;
	border-width: 0px 0px 0px 1px;
}

#pamphletu42699
{
	z-index: 304;
	width: 0.01px;
	height: 286px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
	left: 363px;
}

#u42710
{
	position: absolute;
	width: 209px;
	left: 283px;
}

#u42710popup
{
	z-index: 305;
}

#u42713
{
	z-index: 306;
	width: 209px;
	height: 289px;
	position: relative;
	margin-right: -10000px;
	background: #2E2929 url("../images/libro-excelintermediol.png") no-repeat left top;
	background-size: cover;
}

.LibrosEbookPopup
{
	border-style: none;
	-pie-box-shadow: 5px 5px 10px #B5B5B5;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.29);
	border-color: transparent;
	border-radius: 0px 0px 10px 10px ;
	background: #2E2929 url("../images/excelavanzado.jpg") no-repeat left top;
	background-size: cover;
}

#u42712
{
	z-index: 307;
	width: 209px;
	height: 289px;
	position: relative;
	margin-right: -10000px;
	background: #2E2929 url("../images/libro-excel-avanzado.png") no-repeat left top;
	background-size: cover;
}

#u42711
{
	z-index: 308;
	width: 209px;
	height: 289px;
	position: relative;
	margin-right: -10000px;
	background: #2E2929 url("../images/libro-excel-financiero-ieu42253-fr.png") no-repeat left top;
	background: rgba(0,0,0,0) url("../images/libro-excel-financiero.png") no-repeat left top;
	background-color: #2E2929;
	background-size: cover;
}

#u42704
{
	z-index: 309;
	width: 257px;
	position: relative;
	margin-right: -10000px;
	margin-top: 174px;
}

#u42707
{
	position: absolute;
	width: 81px;
	height: 112px;
	border-style: none;
	border-color: transparent;
	background: #C4C4C4 url("../images/libro-excelintermediol-u42258-fr.png") no-repeat center center;
	background-size: cover;
}

#u42707:hover
{
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	width: 81px;
	height: 112px;
	min-height: 0px;
	margin: 0px;
	background: #999999 url("../images/libro-excelintermediol-u42258-fr.png") no-repeat center center;
	background-size: cover;
}

#u42707.PamphletThumbSelected
{
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	border-radius: 0px;
	width: 81px;
	height: 112px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/libro-excelintermediol-u42258-fr.png") no-repeat center center;
	background-size: cover;
}

#u42706
{
	position: absolute;
	width: 81px;
	height: 112px;
	left: 87px;
	background: #FFFFFF url("../images/libro-excel-avanzado-u42259-fr.png") no-repeat center center;
	background-size: cover;
}

#u42706:hover
{
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-color: #000000;
	width: 81px;
	height: 112px;
	min-height: 0px;
	margin: 0px;
	background: #999999 url("../images/libro-excel-avanzado-u42259-fr.png") no-repeat center center;
	background-size: cover;
}

#u42706.PamphletThumbSelected
{
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	border-radius: 0px;
	width: 81px;
	height: 112px;
	min-height: 0px;
	margin: 0px;
	background: #6B6B6B url("../images/libro-excel-avanzado-u42259-fr.png") no-repeat center center;
	background-size: cover;
}

#u42705
{
	position: absolute;
	width: 81px;
	height: 112px;
	left: 176px;
	background: #C4C4C4 url("../images/libro-excel-financiero-u42257-fr.png") no-repeat center center;
	background-size: cover;
}

#u42705:hover
{
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-color: #000000;
	width: 81px;
	height: 112px;
	min-height: 0px;
	margin: 0px;
	background: #999999 url("../images/libro-excel-financiero-u42257-fr.png") no-repeat center center;
	background-size: cover;
}

#u42705.PamphletThumbSelected
{
	-pie-box-shadow: 1px 1px 5px #7F7F7F;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	border-radius: 0px;
	width: 81px;
	height: 112px;
	min-height: 0px;
	margin: 0px;
	background: #FFFFFF url("../images/libro-excel-financiero-u42257-fr.png") no-repeat center center;
	background-size: cover;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u36869
{
	z-index: 8;
	min-height: 58px;
	padding-bottom: 6px;
}

#u36855_align_to_page,#u36874_align_to_page,#u43011_align_to_page,#u36869_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#pu36873-17
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 122px;
}

#u36873-17
{
	z-index: 9;
	width: 493px;
	min-height: 16px;
}

#u38345-6
{
	z-index: 157;
	width: 448px;
	min-height: 28px;
	margin-top: 3px;
}

#pu36852-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 655px;
}

#u36852-4
{
	z-index: 26;
	width: 383px;
	min-height: 16px;
}

#u36851-6
{
	z-index: 30;
	width: 326px;
	min-height: 16px;
	margin-left: 57px;
	margin-top: 2px;
}

#u36869-bw
{
	z-index: 8;
	min-height: 58px;
	margin-bottom: -1px;
	margin-top: 1039px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1038px;
}

