.version.curso_presenciales_excel /* version checker */
{
	color: #0000F1;
	background-color: #0B980E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 816.4089179124276px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -1px;
	width: 0.01px;
}

#pu24964
{
	width: 0.01px;
	margin-left: -100px;
}

#u24964
{
	z-index: 2;
	min-height: 131px;
	padding-bottom: 66px;
}

#u24965-4
{
	z-index: 3;
	width: 682px;
	min-height: 58px;
	margin-right: -10000px;
	margin-top: 73px;
	left: 122px;
}

#u24964-bw
{
	z-index: 2;
	min-height: 131px;
	margin-top: 103px;
}

#menuu36358
{
	z-index: 37;
	width: 630px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 377px;
}

#u36366
{
	width: 57px;
	min-height: 61px;
	margin-right: -10000px;
}

#u36367
{
	width: 57px;
	padding-bottom: 44px;
}

#u36367:hover
{
	width: 57px;
	min-height: 0px;
	margin: 0px;
}

#u36367:active
{
	width: 57px;
	min-height: 0px;
	margin: 0px;
}

#u36367.MuseMenuActive
{
	width: 57px;
	min-height: 0px;
	margin: 0px;
}

#u36369-4
{
	width: 44px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36367:hover #u36369-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u36367:active #u36369-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u36367.MuseMenuActive #u36369-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 44px;
	margin: 0px -10000px 0px 0px;
}

#u36485
{
	width: 93px;
	min-height: 61px;
	margin-right: -10000px;
	left: 59px;
}

#u36488
{
	width: 93px;
	padding-bottom: 44px;
}

#u36488:hover
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u36488:active
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u36488.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u36489-4
{
	width: 80px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36488:hover #u36489-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u36488:active #u36489-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u36488.MuseMenuActive #u36489-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 80px;
	margin: 0px -10000px 0px 0px;
}

#u36429
{
	width: 162px;
	min-height: 61px;
	margin-right: -10000px;
	left: 154px;
}

#u36430
{
	width: 162px;
	padding-bottom: 44px;
}

#u36430:hover
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u36430:active
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u36430.MuseMenuActive
{
	width: 162px;
	min-height: 0px;
	margin: 0px;
}

#u36431-4
{
	width: 136px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36430:hover #u36431-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u36430:active #u36431-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u36430.MuseMenuActive #u36431-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 136px;
	margin: 0px -10000px 0px 0px;
}

#u36433
{
	z-index: 56;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 23px;
	left: 142px;
}

#u36430:hover #u36433
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36430:active #u36433
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36434
{
	width: 150px;
	top: 61px;
}

#u36481
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36481:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36483-4
{
	width: 60px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 40px;
}

#u36481:hover #u36483-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u36481.MuseMenuActive #u36483-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u36453
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36481.MuseMenuActive,#u36453:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36455-4
{
	width: 96px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 22px;
}

#u36453:hover #u36455-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u36453.MuseMenuActive #u36455-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 96px;
	margin: 0px -10000px 0px 0px;
}

#u36472
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36453.MuseMenuActive,#u36472:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36473-4
{
	width: 89px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 25px;
}

#u36472:hover #u36473-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u36472.MuseMenuActive #u36473-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 89px;
	margin: 0px -10000px 0px 0px;
}

#u36458
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36472.MuseMenuActive,#u36458:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36460-4
{
	width: 69px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 35px;
}

#u36458:hover #u36460-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u36458.MuseMenuActive #u36460-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 69px;
	margin: 0px -10000px 0px 0px;
}

#u36439
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36458.MuseMenuActive,#u36439:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36442-4
{
	width: 95px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 22px;
}

#u36439:hover #u36442-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u36439.MuseMenuActive #u36442-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 95px;
	margin: 0px -10000px 0px 0px;
}

#u36446
{
	width: 150px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u36446:hover
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36446.MuseMenuActive
{
	width: 150px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36449-4
{
	width: 120px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 11px;
}

#u36446:hover #u36449-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u36446.MuseMenuActive #u36449-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 120px;
	margin: 0px -10000px 0px 0px;
}

#u36435,#u36478,#u36450,#u36471,#u36457,#u36436,#u36443,#u36464
{
	width: 150px;
}

#u36465
{
	width: 148px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36439.MuseMenuActive,#u36465:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36465.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36468-4
{
	width: 68px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 36px;
}

#u36465:hover #u36468-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u36465.MuseMenuActive #u36468-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 68px;
	margin: 0px -10000px 0px 0px;
}

#u36373
{
	width: 187px;
	min-height: 61px;
	margin-right: -10000px;
	left: 318px;
}

#u36425
{
	width: 187px;
	padding-bottom: 44px;
}

#u36425:hover
{
	width: 187px;
	min-height: 0px;
	margin: 0px;
}

#u36425:active
{
	width: 187px;
	min-height: 0px;
	margin: 0px;
}

#u36425.MuseMenuActive
{
	width: 187px;
	min-height: 0px;
	margin: 0px;
}

#u36427-4
{
	width: 161px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36425:hover #u36427-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u36425:active #u36427-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u36425.MuseMenuActive #u36427-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 161px;
	margin: 0px -10000px 0px 0px;
}

#u36426
{
	z-index: 107;
	width: 14px;
	height: 14px;
	margin-right: -10000px;
	top: 23px;
	left: 167px;
}

#u36430.MuseMenuActive #u36433,#u36425:hover #u36426
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36425:active #u36426
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36425.MuseMenuActive #u36426
{
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36374
{
	width: 177px;
	top: 61px;
}

#u36386
{
	width: 175px;
	padding-bottom: 7px;
	margin-right: -10000px;
}

#u36386:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36387-4
{
	width: 58px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 3px;
	left: 54px;
}

#u36386:hover #u36387-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u36386.MuseMenuActive #u36387-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 58px;
	margin: 0px -10000px 0px 0px;
}

#u36393
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36386.MuseMenuActive,#u36393:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36394-4
{
	width: 94px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 36px;
}

#u36393:hover #u36394-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u36393.MuseMenuActive #u36394-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 94px;
	margin: 0px -10000px 0px 0px;
}

#u36421
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36393.MuseMenuActive,#u36421:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36423-4
{
	width: 87px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 40px;
}

#u36421:hover #u36423-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u36421.MuseMenuActive #u36423-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 87px;
	margin: 0px -10000px 0px 0px;
}

#u36405
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36421.MuseMenuActive,#u36405:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36407-4
{
	width: 67px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 50px;
}

#u36405:hover #u36407-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u36405.MuseMenuActive #u36407-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u36412
{
	width: 177px;
	padding-bottom: 9px;
	margin-right: -10000px;
}

#u36412:hover
{
	width: 177px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36412.MuseMenuActive
{
	width: 177px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36415-4
{
	width: 118px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 26px;
}

#u36412:hover #u36415-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u36412.MuseMenuActive #u36415-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 118px;
	margin: 0px -10000px 0px 0px;
}

#u36398
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36405.MuseMenuActive,#u36398:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36399-4
{
	width: 79px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 44px;
}

#u36398:hover #u36399-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u36398.MuseMenuActive #u36399-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 79px;
	margin: 0px -10000px 0px 0px;
}

#u36375,#u36383,#u36390,#u36418,#u36404,#u36411,#u36397,#u36376
{
	width: 177px;
}

#u36377
{
	width: 175px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u36398.MuseMenuActive,#u36377:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36377.MuseMenuActive
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u36379-4
{
	width: 66px;
	min-height: 22px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 4px;
	left: 50px;
}

#u36377:hover #u36379-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u36377.MuseMenuActive #u36379-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u36359
{
	width: 123px;
	min-height: 61px;
	margin-right: -10000px;
	left: 507px;
}

#u36360
{
	width: 123px;
	padding-bottom: 44px;
}

#u36360:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u36360:active
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u36360.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u36363-4
{
	width: 111px;
	min-height: 17px;
	margin-right: -10000px;
	top: 22px;
	left: 6px;
}

#u36360:hover #u36363-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u36360:active #u36363-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u36360.MuseMenuActive #u36363-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u24927,#u24927-bw
{
	z-index: 7;
	min-height: 103px;
}

#u42986
{
	z-index: 164;
	min-height: 36px;
	padding-bottom: 6px;
}

#u43196
{
	z-index: 169;
	width: 32px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 926px;
}

#u43198
{
	z-index: 171;
	width: 32px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 962px;
}

#u43200
{
	z-index: 173;
	width: 30px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 998px;
}

#u43203
{
	z-index: 174;
	width: 30px;
	padding-bottom: 8px;
	margin-right: -10000px;
}

#u43201
{
	z-index: 175;
	width: 16px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 8px;
}

#u42986-bw
{
	z-index: 164;
	min-height: 36px;
}

#u38605
{
	z-index: 165;
	width: 225px;
	margin-right: -10000px;
	left: 130px;
}

#u38606
{
	z-index: 166;
	width: 225px;
	padding-bottom: 1px;
	margin-right: -10000px;
}

#u38607
{
	z-index: 167;
	width: 210px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 8px;
}

#u1235-4
{
	z-index: 217;
	width: 916px;
	min-height: 37px;
	background-color: transparent;
	margin-left: 22px;
	margin-top: 17px;
	position: relative;
}

#u1221-27
{
	z-index: 188;
	width: 916px;
	min-height: 279px;
	background-color: transparent;
	margin-left: 22px;
	margin-top: 18px;
	position: relative;
}

#u1221-3
{
	font-size: 20px;
	text-align: justify;
	color: #3E3E3E;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u1222
{
	float: left;
	margin-right: 20px;
}

#u1223
{
	z-index: 193;
	width: 285px;
	height: 208px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background: #FFFFFF url("../images/2013-04-27%20081404-u1223-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u1221-8,#u1221-11,#u1221-14,#u1221-17,#u1221-20
{
	font-weight: 700;
}

#u1230-4
{
	z-index: 221;
	width: 916px;
	min-height: 37px;
	background-color: transparent;
	margin-left: 22px;
	margin-top: 12px;
	position: relative;
}

#u1234
{
	z-index: 225;
	width: 916px;
	height: 8px;
	border-style: solid;
	border-color: #BABABA;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	margin-left: 22px;
	position: relative;
	border-width: 1px 0px 0px;
	-pie-background: rgba(255,255,255,0.01);
}

#pu2037-16
{
	width: 0.01px;
	margin-left: 70px;
	margin-top: 25px;
}

#u2037-16
{
	z-index: 226;
	width: 214px;
	min-height: 368px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2039
{
	z-index: 232;
	width: 208px;
	height: 113px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background: #FFFFFF url("../images/imagenclc1.jpg") no-repeat center center;
	background-size: cover;
}

#u25715
{
	z-index: 244;
	width: 97px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u25717
{
	z-index: 245;
	width: 97px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #006323;
	border-radius: 5px 5px 0px 0px ;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u25717:hover
{
	width: 97px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u25716-4
{
	z-index: 246;
	width: 97px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u2052-16
{
	z-index: 251;
	width: 234px;
	min-height: 363px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 309px;
}

#u2054
{
	z-index: 257;
	width: 228px;
	height: 113px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background: #FFFFFF url("../images/presencial.jpg") no-repeat left top;
	background-size: cover;
}

#u25719
{
	z-index: 269;
	width: 97px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u25721
{
	z-index: 270;
	width: 97px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #006323;
	border-radius: 5px 5px 0px 0px ;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u25721:hover
{
	width: 97px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u25720-4
{
	z-index: 271;
	width: 97px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#ppreciospresenciales
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 6px;
}

#preciospresenciales
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 373px;
}

#u2055-16
{
	z-index: 307;
	width: 214px;
	min-height: 368px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 170px;
}

#u2057
{
	z-index: 313;
	width: 208px;
	height: 113px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background: #FFFFFF url("../images/2013-04-27%20081309-u2057-fr.jpg") no-repeat right bottom;
	background-size: cover;
}

#u25723
{
	z-index: 325;
	width: 97px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u25725
{
	z-index: 326;
	width: 97px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #006323;
	border-radius: 5px 5px 0px 0px ;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u25725:hover
{
	width: 97px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u25724-4
{
	z-index: 327;
	width: 97px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u2040-16
{
	z-index: 282;
	width: 214px;
	min-height: 351px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 479px;
}

#u2042
{
	z-index: 288;
	width: 208px;
	height: 113px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background: #FFFFFF url("../images/imagenclc2.jpg") no-repeat left center;
	background-size: cover;
}

#u1221-7,#u1221-23,#u2040-10
{
	text-align: justify;
}

#u25703
{
	z-index: 300;
	width: 97px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u25705
{
	z-index: 301;
	width: 97px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #006323;
	border-radius: 5px 5px 0px 0px ;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u25705:hover
{
	width: 97px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u25704-4
{
	z-index: 302;
	width: 97px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u2112-16
{
	z-index: 332;
	width: 228px;
	min-height: 384px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 796px;
}

#u2037-4,#u2052-4,#u2055-4,#u2040-4,#u2112-4
{
	font-size: 20px;
	color: #3E3E3E;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u2038,#u2053,#u2056,#u2041,#u2113
{
	margin-bottom: 10px;
}

#u2114
{
	z-index: 338;
	width: 208px;
	height: 113px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background: #FFFFFF url("../images/slider4compulearning-u2114-fr.jpg") no-repeat left top;
	background-size: cover;
}

#u25711
{
	z-index: 350;
	width: 97px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u25713
{
	z-index: 351;
	width: 97px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background-color: #006323;
	border-radius: 5px 5px 0px 0px ;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u25713:hover
{
	width: 97px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u25717:hover::before,#u25721:hover::before,#u25725:hover::before,#u25705:hover::before,#u25713:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	width: 97px;
	height: 39px;
	margin-top: 0px;
	margin-left: 0px;
	border-radius: 5px 5px 0px 0px ;
	box-shadow: inset 0px 0px 9px rgba(255,255,255,0.33), inset 0px 0px 9px rgba(255,255,255,0.33);
}

#u25712-4
{
	z-index: 352;
	width: 97px;
	min-height: 19px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 13px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u24969-4
{
	z-index: 277;
	width: 916px;
	min-height: 37px;
	background-color: transparent;
	margin-left: 22px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u24970
{
	z-index: 281;
	width: 916px;
	height: 8px;
	border-style: solid;
	border-color: #BABABA;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	margin-left: 22px;
	margin-top: 3px;
	position: relative;
	border-width: 1px 0px 0px;
	-pie-background: rgba(255,255,255,0.01);
}

#u39110-4
{
	z-index: 184;
	width: 487px;
	min-height: 26px;
	background-color: transparent;
	margin-left: 23px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u1235-2,#u1230-2,#u2037-6,#u2052-6,#u2055-6,#u2040-6,#u2112-6,#u24969-2,#u39110-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u39110
{
	font-size: 15px;
}

#u39102
{
	z-index: 178;
	width: 205px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 736px;
	margin-top: 18px;
	position: relative;
}

#u39103
{
	z-index: 179;
	width: 201px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #A2D032;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u39104-4
{
	z-index: 180;
	width: 203px;
	min-height: 15px;
	background-color: transparent;
	color: #364D00;
	text-align: center;
	font-size: 11px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: -1px;
}

#u44268
{
	z-index: 456;
	width: 919px;
	min-height: 292px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 22px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu39812-11
{
	width: 0.01px;
	margin-left: 700px;
	margin-top: -1284px;
}

#u39812-11
{
	z-index: 357;
	width: 238px;
	min-height: 230px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u39812-2
{
	font-size: 18px;
	color: #006422;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
}

#u1221-4,#u2037-7,#u2052-7,#u2055-7,#u2040-7,#u2112-7,#u39812-3
{
	font-size: 16px;
	color: #3E3E3E;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u2037-10,#u2037-14,#u2052-10,#u2052-14,#u2055-10,#u2055-14,#u2112-10,#u2112-14,#u39812-7
{
	font-size: 12px;
	text-align: justify;
	color: #3E3E3E;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u2037,#u2037-11,#u2052,#u2052-11,#u2055,#u2055-11,#u2040,#u2040-11,#u2112,#u2112-11,#u39812-4
{
	font-size: 1px;
	line-height: 0px;
}

#u39813
{
	margin-bottom: 6px;
}

#u39814
{
	z-index: 366;
	width: 232px;
	height: 128px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#u1221-6,#u1221-10,#u1221-13,#u1221-16,#u1221-19,#u1221-22,#u1221-25,#u2037-9,#u2052-9,#u2055-9,#u2040-9,#u2040-14,#u2112-9,#u39812-9
{
	text-align: justify;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1235-2  span,#u1221-6  span,#u1221-10  span,#u1221-13  span,#u1221-16  span,#u1221-19  span,#u1221-22  span,#u1221-25  span,#u1230-2  span,#u2037-6  span,#u2037-9  span,#u2052-6  span,#u2052-9  span,#u2055-6  span,#u2055-9  span,#u2040-6  span,#u2040-9  span,#u2040-14  span,#u2112-6  span,#u2112-9  span,#u24969-2  span,#u39110-2  span,#u39812-9  span /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#slideshowu39815
{
	z-index: 370;
	width: 0.01px;
	height: 121px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 11px;
}

#u39819
{
	position: absolute;
	width: 220px;
	height: 121px;
	background-color: transparent;
}

#u39819popup
{
	z-index: 371;
}

#u39876
{
	z-index: 372;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39856
{
	z-index: 374;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39856_img
{
	padding-left: 35px;
	padding-right: 34px;
}

#u39838
{
	z-index: 376;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39824
{
	z-index: 378;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39872
{
	z-index: 380;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39872_img
{
	padding-left: 36px;
	padding-right: 37px;
}

#u39884
{
	z-index: 382;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39884_img
{
	padding-left: 13px;
	padding-right: 14px;
}

#u39864
{
	z-index: 384;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39864_img
{
	padding: 29px 8px 30px 9px;
}

#u39826
{
	z-index: 386;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39826_img
{
	padding: 27px 8px 28px 9px;
}

#u39882
{
	z-index: 388;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39882_img
{
	padding: 41px 8px 41px 9px;
}

#u39836
{
	z-index: 390;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39836_img
{
	margin: -5px 13px -5px 14px;
}

#u39866
{
	z-index: 392;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39866_img
{
	padding: 10px 8px 10px 9px;
}

#u39822
{
	z-index: 394;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39822_img
{
	padding-left: 28px;
	padding-right: 27px;
}

#u39874
{
	z-index: 396;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39874_img
{
	padding-left: 27px;
	padding-right: 26px;
}

#u39888
{
	z-index: 398;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39844
{
	z-index: 400;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39844_img
{
	padding: 30px 8px 29px 9px;
}

#u39854
{
	z-index: 402;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39820
{
	z-index: 404;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39820_img
{
	padding-left: 15px;
	padding-right: 15px;
}

#u39862
{
	z-index: 406;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39862_img
{
	padding: 39px 8px 38px 9px;
}

#u39860
{
	z-index: 408;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39824_img,#u39860_img
{
	padding: 2px 8px 2px 9px;
}

#u39848
{
	z-index: 410;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39902
{
	z-index: 412;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39902_img
{
	padding: 20px 8px 19px 9px;
}

#u39830
{
	z-index: 414;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39838_img,#u39830_img
{
	padding-left: 26px;
	padding-right: 25px;
}

#u39858
{
	z-index: 416;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39858_img
{
	padding-left: 54px;
	padding-right: 53px;
}

#u39840
{
	z-index: 418;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39840_img
{
	padding-left: 23px;
	padding-right: 23px;
}

#u39850
{
	z-index: 420;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39868
{
	z-index: 422;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39868_img
{
	padding-left: 17px;
	padding-right: 17px;
}

#u39870
{
	z-index: 424;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39870_img
{
	padding: 18px 9px 17px;
}

#u39880
{
	z-index: 426;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39880_img
{
	padding: 40px 9px 39px;
}

#u39878
{
	z-index: 428;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39878_img
{
	padding: 9px 8px 9px 9px;
}

#u39896
{
	z-index: 430;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39896_img
{
	padding: 18px 8px 18px 9px;
}

#u39828
{
	z-index: 432;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39828_img
{
	padding-left: 13px;
	padding-right: 13px;
}

#u39846
{
	z-index: 434;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39846_img
{
	padding: 36px 10px 36px 9px;
}

#u39898
{
	z-index: 436;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39898_img
{
	padding-left: 18px;
	padding-right: 18px;
}

#u39852
{
	z-index: 438;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39852_img
{
	padding: 22px 8px 22px 9px;
}

#u39886
{
	z-index: 440;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39886_img
{
	padding: 33px 10px 32px 9px;
}

#u39900
{
	z-index: 442;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39900_img
{
	padding: 4px 8px 3px 9px;
}

#u39890
{
	z-index: 444;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39890_img
{
	padding: 36px 35px;
}

#u39892
{
	z-index: 446;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39892_img
{
	padding-left: 30px;
	padding-top: 1px;
	padding-right: 30px;
}

#u39834
{
	z-index: 448;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39834_img
{
	padding-left: 24px;
	padding-right: 23px;
}

#u39894
{
	z-index: 450;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39894_img
{
	padding: 21px 8px 21px 9px;
}

#u39842
{
	z-index: 452;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39836_clip,#u39842_clip
{
	overflow: hidden;
	width: 220px;
	height: 121px;
}

#u39842_img
{
	margin: -5px 45px -5px 44px;
}

#u39832
{
	z-index: 454;
	width: 220px;
	height: 121px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u39888_img,#u39854_img,#u39848_img,#u39850_img,#u39832_img
{
	padding-left: 50px;
	padding-right: 49px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu24959
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 5px;
}

#u24959
{
	z-index: 8;
	min-height: 369px;
	padding-bottom: 77px;
}

#u43240
{
	z-index: 177;
	width: 916px;
	min-height: 345px;
	margin-right: -10000px;
	margin-top: 24px;
	left: 122px;
}

#u24959-bw
{
	z-index: 8;
	min-height: 369px;
}

#u35805
{
	z-index: 9;
	min-height: 57px;
	padding-bottom: 7px;
}

#u24964_align_to_page,#u24927_align_to_page,#u42986_align_to_page,#u24959_align_to_page,#u35805_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#pu35806-17
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 122px;
}

#u35806-17
{
	z-index: 10;
	width: 493px;
	min-height: 16px;
}

#u38344-6
{
	z-index: 158;
	width: 448px;
	min-height: 28px;
	margin-top: 2px;
}

#pu35809-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 11px;
	margin-left: 655px;
}

#u35809-4
{
	z-index: 27;
	width: 383px;
	min-height: 16px;
}

#u35810-6
{
	z-index: 31;
	width: 326px;
	min-height: 16px;
	margin-left: 57px;
	margin-top: 2px;
}

#u35805-bw
{
	z-index: 9;
	min-height: 57px;
	margin-top: 383px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

