.p,.p-footer,.p-blanco
{
	font-family: asap-n4, sans-serif;
}

.p-cita-blanca
{
	font-family: asap-i4, sans-serif;
}

.h1,.h2,.TextoBotonAzul,.TextoBotonVerde
{
	font-family: comfortaa-n7, sans-serif;
}

#u24965-4,#u36369-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36489-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36431-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36483-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36455-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36473-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36460-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36442-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36449-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36468-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36427-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36387-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36394-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36423-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36407-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36415-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36399-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36379-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36363-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u43092-14
{
	font-family: asap-n4, sans-serif;
}

