.p,.p-footer,.p-blanco
{
	font-family: asap-n4, sans-serif;
}

.p-cita-blanca
{
	font-family: asap-i4, sans-serif;
}

.h1,.h2,.TextoBotonAzul,.TextoBotonVerde
{
	font-family: comfortaa-n7, sans-serif;
}

#u36868-4,#u36710-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36847-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36727-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36737-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36749-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36743-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36771-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36759-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36766-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36777-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36842-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36809-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36838-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36824-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36829-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36817-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36804-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36793-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36785-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u40966-2
{
	font-family: comfortaa-n7, sans-serif;
}

#u40966-6,#u40966-7
{
	font-family: asap-n7, sans-serif;
}

#u40962-4,#u42687-14
{
	font-family: asap-n4, sans-serif;
}

