.p,.p-footer,.p-blanco
{
	font-family: asap-n4, sans-serif;
}

.p-cita-blanca
{
	font-family: asap-i4, sans-serif;
}

.h1,.h2,.TextoBotonAzul,.TextoBotonVerde
{
	font-family: comfortaa-n7, sans-serif;
}

#u36073-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36193-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36135-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36187-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36159-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36177-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36164-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36146-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36153-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36172-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36131-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36091-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36098-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36127-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36111-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36119-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36103-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36083-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36067-4
{
	font-family: comfortaa-n7, sans-serif;
}

