.p,.p-footer,.p-blanco
{
	font-family: asap-n4, sans-serif;
}

.p-cita-blanca
{
	font-family: asap-i4, sans-serif;
}

.h1,.h2,.TextoBotonAzul,.TextoBotonVerde
{
	font-family: comfortaa-n7, sans-serif;
}

#u25675-4,#u36517-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36637-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36579-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36631-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36603-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36621-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36608-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36590-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36597-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36616-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36575-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36535-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36542-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36571-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36555-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36563-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36547-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36527-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u36511-4
{
	font-family: comfortaa-n7, sans-serif;
}

#u25595-6,#u44257
{
	font-family: asap-n4, sans-serif;
}

