#u24623
{
	-pie-box-shadow: none;
	box-shadow: 0px 2px 9px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/light_wool.jpg") repeat-x center center;
}

#u17666
{
	border-style: none;
	border-color: transparent;
	background-color: #007233;
}

#u43172
{
	border-color: #000000;
	background-color: #00280A;
	opacity: 0.58;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57.99999999999999)";
	filter: alpha(opacity=57.99999999999999);
	border-radius: 100px;
}

#u43140,#u43145,#u43166
{
	background-color: transparent;
	opacity: 0.58;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=57.99999999999999)";
	filter: alpha(opacity=57.99999999999999);
	position: relative;
}

#u31495
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	-pie-background: rgba(255,255,255,0.01);
}

#u31495:hover
{
	background-color: #FDFDFD;
	background-color: rgba(153,153,153,0.01);
	-pie-background: rgba(153,153,153,0.01);
}

#u31495:active
{
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	-pie-background: rgba(107,107,107,0.01);
}

#u31495.MuseMenuActive
{
	background-color: #FDFDFD;
	background-color: rgba(153,153,153,0.01);
	-pie-background: rgba(153,153,153,0.01);
}

#u31496-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u31570
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	-pie-background: rgba(255,255,255,0.01);
}

#u31570:hover
{
	background-color: #FDFDFD;
	background-color: rgba(153,153,153,0.01);
	-pie-background: rgba(153,153,153,0.01);
}

#u31570:active
{
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	-pie-background: rgba(107,107,107,0.01);
}

#u31570.MuseMenuActive
{
	background-color: #FDFDFD;
	background-color: rgba(153,153,153,0.01);
	-pie-background: rgba(153,153,153,0.01);
}

#u31572-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u31628
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	-pie-background: rgba(255,255,255,0.01);
}

#u31628:hover
{
	background-color: #FDFDFD;
	background-color: rgba(153,153,153,0.01);
	-pie-background: rgba(153,153,153,0.01);
}

#u31628:active
{
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	-pie-background: rgba(107,107,107,0.01);
}

#u31628.MuseMenuActive
{
	background-color: #FDFDFD;
	background-color: rgba(153,153,153,0.01);
	-pie-background: rgba(153,153,153,0.01);
}

#u31629-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u31630
{
	position: relative;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u31628:hover #u31630
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u31628:active #u31630
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u31587
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u31587:hover
{
	background-image: none;
	background-color: #000000;
}

#u31590-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u31587:hover #u31590-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u31590-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u31601
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u31601:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u31604-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u31587.MuseMenuActive #u31590-4 p,#u31601:hover #u31604-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u31604-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u31610
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u31601.MuseMenuActive,#u31610:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u31613-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u31601.MuseMenuActive #u31604-4 p,#u31610:hover #u31613-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u31613-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u31624
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u31610.MuseMenuActive,#u31624:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u31627-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u31610.MuseMenuActive #u31613-4 p,#u31624:hover #u31627-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u31627-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u31594
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u31624.MuseMenuActive,#u31594:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u31597-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u31624.MuseMenuActive #u31627-4 p,#u31594:hover #u31597-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u31597-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u36058
{
	border-style: solid;
	border-color: #626060;
	position: relative;
	border-width: 0px 0px 1px;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u31594.MuseMenuActive,#u36058:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u36059-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u31594.MuseMenuActive #u31597-4 p,#u36058:hover #u36059-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36059-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u31617
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u36058.MuseMenuActive,#u31617:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u31619-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36058.MuseMenuActive #u36059-4 p,#u31617:hover #u31619-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u31619-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u31565
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	-pie-background: rgba(255,255,255,0.01);
}

#u31565:hover
{
	background-color: #FDFDFD;
	background-color: rgba(153,153,153,0.01);
	-pie-background: rgba(153,153,153,0.01);
}

#u31565:active
{
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	-pie-background: rgba(107,107,107,0.01);
}

#u31565.MuseMenuActive
{
	background-color: #FDFDFD;
	background-color: rgba(153,153,153,0.01);
	-pie-background: rgba(153,153,153,0.01);
}

#u31567-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u31566
{
	position: relative;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u31628.MuseMenuActive #u31630,#u31565:hover #u31566
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u31565:active #u31566
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u31565.MuseMenuActive #u31566
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u31584,#u31514
{
	background-color: transparent;
}

#u31538
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u31587.MuseMenuActive,#u31538:hover
{
	background-image: none;
	background-color: #000000;
}

#u31538.MuseMenuActive
{
	background-image: none;
	background-color: #000000;
}

#u31541-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u31617.MuseMenuActive #u31619-4 p,#u31538:hover #u31541-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u31541-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u31517
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u31617.MuseMenuActive,#u31517:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u31518-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u31538.MuseMenuActive #u31541-4 p,#u31517:hover #u31518-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u31518-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u31531
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u31517.MuseMenuActive,#u31531:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u31532-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u31517.MuseMenuActive #u31518-4 p,#u31531:hover #u31532-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u31532-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u31547
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u31531.MuseMenuActive,#u31547:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u31550-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u31531.MuseMenuActive #u31532-4 p,#u31547:hover #u31550-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u31550-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u31552
{
	border-style: solid;
	border-color: #626060;
	position: relative;
	border-width: 0px 0px 1px;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u31547.MuseMenuActive,#u31552:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u31555-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u31547.MuseMenuActive #u31550-4 p,#u31552:hover #u31555-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u31555-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u31559
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u31552.MuseMenuActive,#u31559:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u31561-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u31552.MuseMenuActive #u31555-4 p,#u31559:hover #u31561-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u31561-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u31524
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u31559.MuseMenuActive,#u31524:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u31524.MuseMenuActive
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u31525-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u31559.MuseMenuActive #u31561-4 p,#u31524:hover #u31525-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u31524.MuseMenuActive #u31525-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u31525-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u31579
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	-pie-background: rgba(255,255,255,0.01);
}

#u31579:hover
{
	background-color: #FDFDFD;
	background-color: rgba(153,153,153,0.01);
	-pie-background: rgba(153,153,153,0.01);
}

#u31579:active
{
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	-pie-background: rgba(107,107,107,0.01);
}

#u31579.MuseMenuActive
{
	background-color: #FDFDFD;
	background-color: rgba(153,153,153,0.01);
	-pie-background: rgba(153,153,153,0.01);
}

#u31580-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u31495.MuseMenuActive #u31496-4,#u31570.MuseMenuActive #u31572-4,#u31628.MuseMenuActive #u31629-4,#u31565.MuseMenuActive #u31567-4,#u31579.MuseMenuActive #u31580-4
{
	border-style: none;
	border-color: transparent;
}

#u17669
{
	-pie-box-shadow: none;
	box-shadow: 0px -2px 8px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u17928-4
{
	background-color: transparent;
	color: #006323;
	font-size: 18px;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

.iconos-sociales
{
	-pie-box-shadow: 0px 0px 8px #7F7F7F;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	border-radius: 51px;
}

#u17925,#u17673,#u17657
{
	border-width: 2px;
	border-style: solid;
	position: relative;
}

#u17930-2
{
	font-size: 18px;
	color: #006422;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
}

#u17930-4
{
	font-size: 1px;
	line-height: 0px;
}

#u17932
{
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#u17680-3,#u17930-3,#u17929-3
{
	font-size: 16px;
	color: #3E3E3E;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u17929-8,#u17929-17
{
	text-align: justify;
}

#u17929-5,#u17929-10,#u17929-19
{
	text-align: justify;
	font-weight: bold;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u17680-2,#u17929-2,#u17678-2
{
	font-size: 18px;
	color: #006323;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
}

#u17930-7,#u17678-3
{
	font-size: 12px;
	text-align: justify;
	color: #3E3E3E;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u17680-7,#u17930-9,#u17929-7,#u17929-12,#u17929-14,#u17929-16,#u17929-21,#u17678-5
{
	text-align: justify;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u17687
{
	position: absolute;
	background-color: transparent;
}

#u43173,#menuu31491,#u42609,#u17924,#u42608,#u17670,#u42607,#u17654,#u37147,#u17704,#u17712,#u17718,#u17748,#u17692,#u17734,#u17768,#u17752,#u17770,#u17694,#u17740,#u17716,#u17756,#u17736,#u17688,#u17722,#u17764,#u17758,#u17738,#u17760,#u17700,#u17698,#u17730,#u17762,#u17690,#u17766,#u17732,#u17746,#u17696,#u17706,#u17742,#u17710,#u17714,#u17702,#u17750,#u17724,#u17726,#u17708,#u17728,#u17744,#u17720,#u17754
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

.MenuItem,.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u17668
{
	border-style: none;
	border-color: transparent;
	background: #383636 url("../images/dark_mosaic.jpg") repeat left top;
}

#u17666_align_to_page,#u17669_align_to_page,#slideshowu17686,#u17668_align_to_page
{
	position: relative;
}

#u31492,#u31569,#u31583,#u31585,#u31586,#u31600,#u31607,#u31621,#u31593,#u36055,#u31614,#u31513,#u31515,#u31537,#u31516,#u31530,#u31544,#u31551,#u31558,#u31523,#u31576,#u17680-9,#u17926,#u39160,#u17671,#u39165,#u17655,#u17930-11,#u17929-23,#u17678-7,#u17685-17,#u17674-6
{
	background-color: transparent;
	position: relative;
}

#u17933-4,#u17677-6
{
	background-color: transparent;
	text-align: right;
	position: relative;
}

#u17685-15,#u17674-2,#u17674-4,#u17933-2,#u17677-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u17680-5,#u17929-4,#u17929-9,#u17929-18,#u17677-2
{
	font-weight: 700;
}

#u17930-9  span,#u17929-5  span,#u17929-7  span,#u17929-10  span,#u17929-12  span,#u17929-14  span,#u17929-16  span,#u17929-19  span,#u17929-21  span,#u17678-5  span,#u17674-2  span,#u17674-4  span,#u17933-2  span,#u17680-7  span,#u17680-7  a,#u17680-7  span,#u17680-7  a,#u17685-15  span,#u17685-15  a,#u17685-15  span,#u17685-15  a,#u17677-4  span,#u17677-4  a,#u17677-4  span,#u17677-4  a /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

