#u24964
{
	border-color: #01A7C9;
	background: #01A7C9 url("../images/presenciales.jpg") no-repeat left center;
	background-size: cover;
}

#u24965-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: left;
	font-size: 48px;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u24927
{
	-pie-box-shadow: none;
	box-shadow: 0px 2px 9px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u36367
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	-pie-background: rgba(255,255,255,0.01);
}

#u36367:hover
{
	background-color: #FDFDFD;
	background-color: rgba(153,153,153,0.01);
	-pie-background: rgba(153,153,153,0.01);
}

#u36367:active
{
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	-pie-background: rgba(107,107,107,0.01);
}

#u36367.MuseMenuActive
{
	background-color: #FDFDFD;
	background-color: rgba(153,153,153,0.01);
	-pie-background: rgba(153,153,153,0.01);
}

#u36369-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36488
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	-pie-background: rgba(255,255,255,0.01);
}

#u36488:hover
{
	background-color: #FDFDFD;
	background-color: rgba(153,153,153,0.01);
	-pie-background: rgba(153,153,153,0.01);
}

#u36488:active
{
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	-pie-background: rgba(107,107,107,0.01);
}

#u36488.MuseMenuActive
{
	background-color: #FDFDFD;
	background-color: rgba(153,153,153,0.01);
	-pie-background: rgba(153,153,153,0.01);
}

#u36489-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36430
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	-pie-background: rgba(255,255,255,0.01);
}

#u36430:hover
{
	background-color: #FDFDFD;
	background-color: rgba(153,153,153,0.01);
	-pie-background: rgba(153,153,153,0.01);
}

#u36430:active
{
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	-pie-background: rgba(107,107,107,0.01);
}

#u36430.MuseMenuActive
{
	background-color: #FDFDFD;
	background-color: rgba(153,153,153,0.01);
	-pie-background: rgba(153,153,153,0.01);
}

#u36431-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36433
{
	position: relative;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u36430:hover #u36433
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u36430:active #u36433
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u36481
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u36481:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u36483-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36481:hover #u36483-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36483-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u36453
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u36481.MuseMenuActive,#u36453:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u36455-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36481.MuseMenuActive #u36483-4 p,#u36453:hover #u36455-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36455-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u36472
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u36453.MuseMenuActive,#u36472:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u36473-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36453.MuseMenuActive #u36455-4 p,#u36472:hover #u36473-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36473-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u36458
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u36472.MuseMenuActive,#u36458:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u36460-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36472.MuseMenuActive #u36473-4 p,#u36458:hover #u36460-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36460-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u36439
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u36458.MuseMenuActive,#u36439:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u36442-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36458.MuseMenuActive #u36460-4 p,#u36439:hover #u36442-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36442-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u36446
{
	border-style: solid;
	border-color: #626060;
	position: relative;
	border-width: 0px 0px 1px;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u36439.MuseMenuActive,#u36446:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u36449-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36439.MuseMenuActive #u36442-4 p,#u36446:hover #u36449-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36449-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u36465
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u36446.MuseMenuActive,#u36465:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u36468-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36446.MuseMenuActive #u36449-4 p,#u36465:hover #u36468-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36468-2
{
	padding-left: 8px;
	padding-bottom: 5px;
}

#u36425
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	-pie-background: rgba(255,255,255,0.01);
}

#u36425:hover
{
	background-color: #FDFDFD;
	background-color: rgba(153,153,153,0.01);
	-pie-background: rgba(153,153,153,0.01);
}

#u36425:active
{
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	-pie-background: rgba(107,107,107,0.01);
}

#u36425.MuseMenuActive
{
	background-color: #FDFDFD;
	background-color: rgba(153,153,153,0.01);
	-pie-background: rgba(153,153,153,0.01);
}

#u36427-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36426
{
	position: relative;
	background: transparent url("../images/arrowmenudown.gif") no-repeat center center;
}

#u36430.MuseMenuActive #u36433,#u36425:hover #u36426
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u36425:active #u36426
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u36425.MuseMenuActive #u36426
{
	background-repeat: no-repeat;
	background-position: center center;
}

#u36434,#u36374
{
	background-color: transparent;
}

#u36386
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u36465.MuseMenuActive,#u36386:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u36387-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36465.MuseMenuActive #u36468-4 p,#u36386:hover #u36387-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36387-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u36393
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u36386.MuseMenuActive,#u36393:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u36394-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36386.MuseMenuActive #u36387-4 p,#u36393:hover #u36394-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36394-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u36421
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u36393.MuseMenuActive,#u36421:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u36423-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36393.MuseMenuActive #u36394-4 p,#u36421:hover #u36423-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36423-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u36405
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u36421.MuseMenuActive,#u36405:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u36407-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36421.MuseMenuActive #u36423-4 p,#u36405:hover #u36407-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36407-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u36412
{
	border-style: solid;
	border-color: #626060;
	position: relative;
	border-width: 0px 0px 1px;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u36405.MuseMenuActive,#u36412:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u36415-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36405.MuseMenuActive #u36407-4 p,#u36412:hover #u36415-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36415-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u36398
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u36412.MuseMenuActive,#u36398:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u36399-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36412.MuseMenuActive #u36415-4 p,#u36398:hover #u36399-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36399-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u36377
{
	border-width: 1px;
	border-style: solid;
	border-color: #E0E0E0;
	position: relative;
	background: transparent url("../images/light_wool.jpg") repeat center center;
}

#u36398.MuseMenuActive,#u36377:hover
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u36377.MuseMenuActive
{
	background: transparent url("../images/dark_mosaic.jpg") repeat center center;
}

#u36379-4
{
	background-color: transparent;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36398.MuseMenuActive #u36399-4 p,#u36377:hover #u36379-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36377.MuseMenuActive #u36379-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u36379-2
{
	padding-left: 6px;
	padding-bottom: 5px;
}

#u36360
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.01);
	position: relative;
	-pie-background: rgba(255,255,255,0.01);
}

#u36360:hover
{
	background-color: #FDFDFD;
	background-color: rgba(153,153,153,0.01);
	-pie-background: rgba(153,153,153,0.01);
}

#u36360:active
{
	background-color: #FDFDFD;
	background-color: rgba(107,107,107,0.01);
	-pie-background: rgba(107,107,107,0.01);
}

#u36360.MuseMenuActive
{
	background-color: #FDFDFD;
	background-color: rgba(153,153,153,0.01);
	-pie-background: rgba(153,153,153,0.01);
}

#u36363-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	position: relative;
}

#u36367.MuseMenuActive #u36369-4,#u36488.MuseMenuActive #u36489-4,#u36430.MuseMenuActive #u36431-4,#u36425.MuseMenuActive #u36427-4,#u36360.MuseMenuActive #u36363-4
{
	border-style: none;
	border-color: transparent;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u42986
{
	border-style: none;
	border-color: transparent;
	background-color: #007233;
}

#u43203
{
	border-color: #000000;
	background-color: #00280A;
	border-radius: 100px;
	position: relative;
}

#u38606
{
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
3px 3px 8px #7F7F7F/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
3px 3px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: #FFFFFF url("../images/light_wool.jpg") repeat center center;
}

#u24959
{
	-pie-box-shadow: 0px -2px 8px #7F7F7F;
	box-shadow: 0px -2px 8px rgba(0,0,0,0.5);
	border-style: none;
	border-color: transparent;
	background: #FFFFFF url("../images/light_wool.jpg") repeat left top;
}

#menuu36358,#u43200,#u38605,#u43240
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u35805
{
	border-style: none;
	border-color: transparent;
	background: #383636 url("../images/dark_mosaic.jpg") repeat left top;
}

#u24964_align_to_page,#u24927_align_to_page,#u42986_align_to_page,#u24959_align_to_page,#u35805_align_to_page
{
	position: relative;
}

#u36366,#u36485,#u36429,#u36435,#u36478,#u36450,#u36471,#u36457,#u36436,#u36443,#u36464,#u36373,#u36375,#u36383,#u36390,#u36418,#u36404,#u36411,#u36397,#u36376,#u36359,#u43196,#u43198,#u43201,#u38607,#u35806-17,#u38344-6
{
	background-color: transparent;
	position: relative;
}

#u35809-4,#u35810-6
{
	background-color: transparent;
	text-align: right;
	position: relative;
}

#u35806-15,#u38344-2,#u38344-4,#u35809-2,#u35810-4
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u35810-2
{
	font-weight: 700;
}

#u38344-2  span,#u38344-4  span,#u35809-2  span,#u35806-15  span,#u35806-15  a,#u35806-15  span,#u35806-15  a,#u35806-15  span,#u35806-15  a,#u35806-15  span,#u35806-15  a,#u35806-15  span,#u35806-15  a,#u35806-15  span,#u35806-15  a,#u35810-4  span,#u35810-4  a,#u35810-4  span,#u35810-4  a,#u35810-4  span,#u35810-4  a,#u35810-4  span,#u35810-4  a,#u35810-4  span,#u35810-4  a,#u35810-4  span,#u35810-4  a /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

