.p-blanco,.p
{
	font-family: asap-n4, sans-serif;
}

.h2,.h1,.Tabsfuente
{
	font-family: comfortaa-n7, sans-serif;
}

#u1287
{
	font-family: asap-n4, sans-serif;
}

#u1311:hover #u1314-4 p,#u1311:hover #u1314-4 span,#u1311:active #u1314-4 p,#u1311:active #u1314-4 span,#u1311.TabbedPanelsTabSelected #u1314-4 p,#u1311.TabbedPanelsTabSelected #u1314-4 span,#u1319:hover #u1321-4 p,#u1319:hover #u1321-4 span,#u1319:active #u1321-4 p,#u1319:active #u1321-4 span,#u1319.TabbedPanelsTabSelected #u1321-4 p,#u1319.TabbedPanelsTabSelected #u1321-4 span,#u1307:hover #u1309-4 p,#u1307:hover #u1309-4 span,#u1307:active #u1309-4 p,#u1307:active #u1309-4 span,#u1307.TabbedPanelsTabSelected #u1309-4 p,#u1307.TabbedPanelsTabSelected #u1309-4 span,#u1315:hover #u1317-4 p,#u1315:hover #u1317-4 span,#u1315:active #u1317-4 p,#u1315:active #u1317-4 span,#u1315.TabbedPanelsTabSelected #u1317-4 p,#u1315.TabbedPanelsTabSelected #u1317-4 span
{
	font-family: comfortaa-n7, sans-serif;
}

#u1350-7,#u1350-10,#u1350-11
{
	font-family: asap-i4, sans-serif;
}

