html
{
	background-color: #7F7F7F;
}

#pagecursodiseno
{
}

#page_position_content
{
	margin-top: none;
}

#u1373-4
{
	z-index: 6;
	width: 771px;
	min-height: 62px;
	position: relative;
	margin-right: -10000px;
}

#u1373
{
	font-size: 48px;
	color: #006422;
}

#u1294
{
	z-index: 110;
	width: 139px;
	min-height: 26px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 801px;
}

#pu1373-4,#pu1289
{
	width: 0.01px;
	margin-left: 20px;
	position: relative;
}

#u1289
{
	z-index: 2;
	width: 920px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u1291
{
	z-index: 4;
	width: 920px;
	height: 5px;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(50%, #004B19),to(#054D1D));
	background: -webkit-linear-gradient(top,#004B19 50%,#054D1D );
	background: -moz-linear-gradient(top,#004B19 50%,#054D1D );
	background: -ms-linear-gradient(top,#004B19 50%,#054D1D );
	background: -o-linear-gradient(top,#004B19 50%,#054D1D );
	background: linear-gradient(to bottom,#004B19 50%,#054D1D );
	-pie-background: linear-gradient(top,#004B19 50%,#054D1D );
	border-style: solid;
	border-color: #BABABA;
	position: relative;
	border-width: 1px 0px 0px;
}

#u1290
{
	z-index: 3;
	width: 920px;
	height: 34px;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(50%, #006422),to(#054D1D));
	background: -webkit-linear-gradient(top,#006422 50%,#054D1D );
	background: -moz-linear-gradient(top,#006422 50%,#054D1D );
	background: -ms-linear-gradient(top,#006422 50%,#054D1D );
	background: -o-linear-gradient(top,#006422 50%,#054D1D );
	background: linear-gradient(to bottom,#006422 50%,#054D1D );
	-pie-background: linear-gradient(top,#006422 50%,#054D1D );
	border-style: solid;
	border-color: #BABABA;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
	border-width: 1px 0px 0px;
}

#u1287-4
{
	z-index: 24;
	width: 903px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 11px;
}

#u1287
{
	font-size: 15px;
	color: #FFFFFF;
	font-family: asap, sans-serif;
	font-weight: 500;
}

#pu1288
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 8px;
	position: relative;
}

#u1288
{
	z-index: 5;
	width: 524px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 278px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 390px;
	background: #FFFFFF url("../images/fotox2.png") repeat center bottom;
}

#u1293
{
	z-index: 23;
	width: 520px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

._u1293.f3s_top
{
	height: 31px;
	background-image: url("../images/u1293-full.png");
	background-position: left top;
	width: 520px;
}

#tab-panelu1305
{
	z-index: 28;
    height: 250px;
	width: 521px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 393px;
}

#u1306
{
	z-index: 29;
	width: 521px;
	position: relative;
}

#u1311
{
	z-index: 30;
	width: 131px;
	min-height: 21px;
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-style: none;
	background-color: transparent;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u1311:hover
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u1311:active
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u1311.TabbedPanelsTabSelected
{
	background-color: #C9C9C9;
	background-color: rgba(13, 13, 13, 0.22);
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(13, 13, 13, 0.22);
}

.Cronograma_Estilo_Fondo
{
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#u1314-4
{
	z-index: 31;
	width: 131px;
	min-height: 21px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	line-height: 1.4;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u1311:hover #u1314-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u1311:active #u1314-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u1311.TabbedPanelsTabSelected #u1314-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
}

#u1311:hover #u1314-4 p,#u1311:hover #u1314-4 span,#u1311:active #u1314-4 p,#u1311:active #u1314-4 span
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 14px;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u1319
{
	z-index: 35;
	width: 131px;
	min-height: 20px;
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-style: none;
	background-color: transparent;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 130px;
}

#u1319:hover
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u1319:active
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u1319.TabbedPanelsTabSelected
{
	background-color: #C9C9C9;
	background-color: rgba(13, 13, 13, 0.22);
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(13, 13, 13, 0.22);
}

#u1321-4
{
	z-index: 36;
	width: 131px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	line-height: 1.4;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u1319:hover #u1321-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1319:active #u1321-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1319:hover #u1321-4 p,#u1319:hover #u1321-4 span,#u1319:active #u1321-4 p,#u1319:active #u1321-4 span
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 14px;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u1307
{
	z-index: 40;
	width: 131px;
	min-height: 20px;
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-style: none;
	background-color: transparent;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 260px;
}

#u1307:hover
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u1307:active
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u1307.TabbedPanelsTabSelected
{
	background-color: #C9C9C9;
	background-color: rgba(13, 13, 13, 0.22);
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(13, 13, 13, 0.22);
}

#u1309-4
{
	z-index: 41;
	width: 131px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	line-height: 1.4;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u1307:hover #u1309-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1307:active #u1309-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1307:hover #u1309-4 p,#u1307:hover #u1309-4 span,#u1307:active #u1309-4 p,#u1307:active #u1309-4 span
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 14px;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u1315
{
	z-index: 45;
	width: 131px;
	min-height: 20px;
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-style: none;
	background-color: transparent;
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 390px;
}

#u1315:hover
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u1315:active
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u1315.TabbedPanelsTabSelected
{
	background-color: #C9C9C9;
	background-color: rgba(13, 13, 13, 0.22);
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(13, 13, 13, 0.22);
}

#u1317-4
{
	z-index: 46;
	width: 131px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	line-height: 1.4;
	position: relative;
	margin-right: -10000px;
	top: 4px;
}

#u1315:hover #u1317-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1315:active #u1317-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1319.TabbedPanelsTabSelected #u1321-4,#u1307.TabbedPanelsTabSelected #u1309-4,#u1315.TabbedPanelsTabSelected #u1317-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u1315:hover #u1317-4 p,#u1315:hover #u1317-4 span,#u1315:active #u1317-4 p,#u1315:active #u1317-4 span
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 14px;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u1311.TabbedPanelsTabSelected #u1314-4 p,#u1311.TabbedPanelsTabSelected #u1314-4 span,#u1319.TabbedPanelsTabSelected #u1321-4 p,#u1319.TabbedPanelsTabSelected #u1321-4 span,#u1307.TabbedPanelsTabSelected #u1309-4 p,#u1307.TabbedPanelsTabSelected #u1309-4 span,#u1315.TabbedPanelsTabSelected #u1317-4 p,#u1315.TabbedPanelsTabSelected #u1317-4 span
{
	color: #FFFFFF;
	visibility: inherit;
	padding-left: 0px;
	padding-top: 1px;
	font-family: comfortaa, sans-serif;
	font-weight: 700;
	font-style: normal;
}

#u1344
{
	z-index: 50;
	width: 521px;
	position: relative;
}

#u1345
{
	z-index: 51;
	width: 521px;
	padding-bottom: 7px;
	margin-right: -10000px;
	position: relative;
}

#u1350-14
{
	z-index: 52;
	width: 498px;
	min-height: 251px;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 12px;
}

#u1350-2
{
	font-size: 12px;
	line-height: 1.4;
	font-weight: normal;
}

#u1350-4
{
	font-size: 12px;
	line-height: 1.4;
	font-weight: bold;
}

#u1350-3
{
	font-weight: 700;
}

#u1350-5
{
	font-size: 40px;
	color: #006422;
	font-weight: 700;
}

#u1350-6,#u1350-8,#u1350-12
{
	line-height: 1.19;
	font-weight: bold;
}

#u1350-9
{
	font-size: 1px;
	line-height: 0px;
}

#u1350-10
{
	font-size: 17px;
	color: #FF0000;
	font-family: asap, sans-serif;
}

#u1384
{
	margin-top: 21px;
}

#u1382
{
	z-index: 66;
	width: 165px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u1350-7,#u1350-11
{
	font-size: 17px;
	color: #FF0000;
	font-family: asap, sans-serif;
	font-weight: 700;
	font-style: italic;
}

#u1532
{
	z-index: 68;
	width: 261px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 256px;
}

#u1351
{
	z-index: 69;
	width: 202px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	padding: 30px 14px 10px 45px;
	background: transparent url("../images/cuadroincluye.png") no-repeat left top;
}

#u1349-4
{
	z-index: 78;
	width: 68px;
	line-height: 1.4;
	text-align: justify;
	font-size: 14px;
	font-weight: bold;
	margin-left: 113px;
	position: relative;
}

#u1349
{
	color: #FFFFFF;
	font-weight: 500;
}

#u1348-8
{
	z-index: 70;
	width: 202px;
	min-height: 84px;
	line-height: 1.4;
	text-align: right;
	font-size: 12px;
	margin-top: 50px;
	position: relative;
}

#u1354
{
	z-index: 82;
	width: 521px;
	padding-bottom: 32px;
	margin-right: -10000px;
	position: relative;
}

#u1355-4
{
	z-index: 83;
	width: 284px;
    min-height: 200px;
	line-height: 1.4;
	text-align: justify;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 13px;
}

#u1356
{
	z-index: 87;
	width: 181px;
	height: 197px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 321px;
	background: #FFFFFF url("../images/bigstockphoto_arrows_in_the_target_1393338_v_variation_1-u1356-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u1357
{
	z-index: 88;
	width: 521px;
	padding-bottom: 16px;
	margin-right: -10000px;
	position: relative;
}

#u1358-7
{
	z-index: 89;
	width: 291px;
	min-height: 240px;
	text-align: justify;
	line-height: 1.4;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 15px;
    overflow-x: hidden;
	overflow-y: scroll;
	padding-right: 8px;
    color: #3E3E3E;
	font-family: asap, sans-serif;
	font-weight: 400;
}

#u1358,#u1358-5
{
	font-size: 12px;
}

#u1359
{
	z-index: 96;
	width: 175px;
	height: 236px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 324px;
	background: #FFFFFF url("../images/bulb-u1359-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1352
{
	z-index: 97;
	width: 486px;
	margin-right: -10000px;
	position: relative;
	top: 16px;
	left: 18px;
}

#u1353-10
{
	z-index: 98;
	width: 486px;
	min-height: 249px;
	line-height: 1.4;
	text-align: justify;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#u1299
{
	z-index: 108;
	width: 379px;
    height: 267px;
	-pie-box-shadow: 0px 0px 6px #7F7F7F;
	-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #EFEFEF));
	background: -webkit-linear-gradient(top,#FFFFFF ,#EFEFEF 100%);
	background: -moz-linear-gradient(top,#FFFFFF ,#EFEFEF 100%);
	background: -ms-linear-gradient(top,#FFFFFF ,#EFEFEF 100%);
	background: -o-linear-gradient(top,#FFFFFF ,#EFEFEF 100%);
	background: linear-gradient(to bottom,#FFFFFF ,#EFEFEF 100%);
	-pie-background: linear-gradient(top,#FFFFFF ,#EFEFEF 100%);
	border-color: #FFFFFF;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u1367
{
	z-index: 109;
	width: 363px;
	min-height: 287px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 8px;
}

#u1361
{
	z-index: 14;
	width: 192px;
	margin-left: 30px;
	margin-top: 18px;
	position: relative;
}

#u1364
{
	z-index: 15;
	width: 150px;
	-pie-box-shadow: 0px 0px 5px #7F7F7F;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	-moz-border-radius: 0px 10px 10px 0px ;
	-webkit-border-radius: 0px 10px 10px 0px ;
	-khtml-border-radius: 0px 10px 10px 0px ;
	border-radius: 0px 10px 10px 0px ;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 38px;
}

#u1364.MuseLinkActive
{
	width: 150px;
	min-height: 0px;
	margin: 10px -10000px 0px 0px;
}

#u1365-4
{
	z-index: 16;
	width: 126px;
	min-height: 21px;
	line-height: 1.4;
	text-align: left;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 19px;
}

#u1365
{
	color: #006423;
	font-weight: 700;
}

#u1366
{
	z-index: 20;
	width: 51px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
1px 1px 1px #7F7F7F/* drop shadow*/;
	-moz-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
1px 1px 1px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	-webkit-box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
1px 1px 1px -1px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	box-shadow: 0px 0px 8px 2px rgba(255, 255, 255, 0.5)/* glow */,
1px 1px 1px rgba(0, 0, 0, 0.5)/* drop shadow*/;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 46px;
	-webkit-border-radius: 46px;
	-khtml-border-radius: 46px;
	border-radius: 46px;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
}

#u1366.MuseLinkActive
{
	margin: 0px -10000px 0px 0px;
}

#u1362
{
	z-index: 21;
	width: 33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 9px;
}

#u1301-4
{
	z-index: 10;
	width: 919px;
	min-height: 37px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
	border-width: 0px 0px 1px;
}

#u1348,#u1348-3,#u1348-5,#u1301
{
	color: #006422;
}

#u1380
{
	z-index: 111;
	width: 912px;
	min-height: 32px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 16px;
	margin-top: 7px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

