html
{
	background-color: #7F7F7F;
}

#pageleccionesnuevodiseno
{

}

#u1599
{
	z-index: 2;
	width: 917px;
	border-width: 2px;
	border-style: solid;
	border-color: #E9E9E9;
	background-color: #FFFFFF;
	-moz-border-radius: 5px 0px 0px 0px ;
	-webkit-border-radius: 5px 0px 0px 0px ;
	-khtml-border-radius: 5px 0px 0px 0px ;
	border-radius: 5px 0px 0px 0px ;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
    margin-bottom: 4px;
	left: 3px;
}

#u1599_position_content
{
	margin-top: -2px;
	margin-bottom: 1px;
}

#u1584
{
	z-index: 3;
	width: 917px;
	background: -webkit-gradient(linear, left center, right center, from(#006323),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(left,#006323 ,#7BC896 100%);
	background: -moz-linear-gradient(left,#006323 ,#7BC896 100%);
	background: -ms-linear-gradient(left,#006323 ,#7BC896 100%);
	background: -o-linear-gradient(left,#006323 ,#7BC896 100%);
	background: linear-gradient(to right,#006323 ,#7BC896 100%);
	-pie-background: linear-gradient(left,#006323 ,#7BC896 100%);
	border-width: 2px;
	border-style: solid;
	border-color: #FFFFFF;
	-moz-border-radius: 5px 0px 0px 0px ;
	-webkit-border-radius: 5px 0px 0px 0px ;
	-khtml-border-radius: 5px 0px 0px 0px ;
	border-radius: 5px 0px 0px 0px ;
	left: -2px;
	position: relative;
}

#u1597-4
{
	z-index: 10;
	width: 633px;
	min-height: 22px;
	color: #FFFFFF;
	font-family: comfortaa, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 11px;
}

#u1590
{
	z-index: 16;
	width: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 664px;
}

#u1600
{
	z-index: 18;
	width: 31px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 748px;
}

#u1587-6
{
	z-index: 4;
	width: 912px;
	min-height: 52px;
	font-size: 12px;
	margin-left: 1px;
	margin-top: 3px;
	position: relative;
}

#u1587-2
{
	padding-left: 13px;
	font-weight: bold;
}

#u1587
{
	font-weight: 700;
}

#u1587-4
{
	padding-left: 13px;
}

#u1588
{
	z-index: 14;
	width: 41px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 838px;
}

#page .verticalspacer
{
	clear: both;
}

